{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block content %}
<article class="cts-container">
    <article class="cts-container-config">
        <h1 class="text-center font-bold text-4xl">Panel de palabras</h1>
        <hr>

        <form method="get" id="form-vocabulario">
            <label for="{{ form.vocabulario.id_for_label }}"
                class="text-lg w-fit font-medium tracking-wide w-full space-y-4">
                <h2 class="text-2xl mb-2 font-bold">Seleccione un vocabulario</h2>
                {{ form.vocabulario }}
            </label>
        </form>

        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% endif %}
        {% if message %}
        {% include "../components/error-message.html" with message=message %}
        {% endif %}
        <hr>

        <div id="palabras-container" class="min-h-24 max-h-64 overflow-y-auto">
            <h2 class="text-2xl mb-2 font-bold">Palabras asociadas:</h2>
            <ul id="palabras-lista" class="flex flex-wrap gap-4">
                <li
                    class="text-center font-bold tracking-wide text-xl bg-surface-card px-3 py-3 pb-4 rounded max-w-4xl w-full">
                    Selecciona un vocabulario para ver sus palabras
                </li>
            </ul>
        </div>
        <hr>

        <form action="" method="post" class="ct-creat-session mt-4">
            {% csrf_token %}
            <article class="cs-escalas-radio max-lg:flex-col justify-center flex gap-4">
                <section class="flex max-lg:flex-col flex-wrap items-center justify-center gap-4">
                    <a href="{% url 'cata_system:panel_configuracion_codes' %}" class="flex-1 w-full">
                        <button type="button" class="cts-btn-general cts-btn-gray-dark btn-push w-full">
                            Paso anterior
                        </button>
                    </a>
                    <button type="submit" name="start"
                        class="cts-btn-general cts-btn-primary btn-push w-fit max-lg:w-full">
                        Crear sesión
                    </button>
                </section>
                <a href="{% url 'cata_system:seleccion_tecnica' %}" class="w-fit max-lg:w-full">
                    <button type="button" class="cts-btn-general cts-btn-error btn-push w-fit max-lg:w-full">
                        Cancelar la creación
                    </button>
                </a>
            </article>
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/choose-vocabulary.js' %}"></script>
{% endblock %}