{% extends 'tecnicas/layouts/conf_create_session.html' %}
{% load static %}

{% block title %}Panel para etiquetas{% endblock %}
{% block title_form %}Panel para etiquetas{% endblock %}

{% block content_main_form %}
<article class="p-4 flex flex-col gap-2 rounded max-sm:text-center bg-surface-card">
    <h2 class="text-2xl mb-2 font-bold">Seleccion de etiquetas</h2>
    <div class="flex flex-wrap justify-center gap-2 w-full">
        {% for field in form_tags %}
        <div class="flex gap-5 max-sm:gap-2 text-lg bg-surface-sweet p-1">
            <label for="{{ field.id_for_label }}"
                class="flex flex-col items-center font-medium p-1 px-3 capitalize rounded">
                <p class="font-bold">{{ field.label }}</p>
                {{ field }}
            </label>
        </div>
        {% endfor %}
    </div>
</article>

<article class="flex flex-col gap-3 p-2 justify-center items-center bg-surface-card rounded">
    <p class="p-2 text-center rounded font-bold text-md">
        Agregar otra etiqueta
    </p>
    <button type="button" onclick="confirm_new_tag.showModal()"
        class="font-bold rounded-lg text-4xl text-center py-2 cts-btn-fifthy btn-push w-40 text-white flex justify-center items-center">
        +
    </button>
</article>

<article class="max-lg:flex-col flex w-full justify-center gap-4">
    <section class="flex max-lg:flex-col flex-wrap items-center justify-center gap-4">
        <a href="{% url 'cata_system:panel_configuracion_basic' %}?name_tecnica={{ use_technique }}"
            class="cts-btn-general cts-btn-fifthy btn-push w-fit max-lg:w-full">
            Paso anterior
        </a>
        <button type="submit" class="cts-btn-general cts-btn-primary btn-push w-fit max-lg:w-full">
            Continuar
        </button>
    </section>
    {% url 'cata_system:seleccion_tecnica' as def_url_main %}
    <a href="{{ url_main|default:def_url_main }}" class="w-fit max-lg:w-full">
        <button type="button" class="cts-btn-general cts-btn-fourthy btn-push w-fit max-lg:w-full">
            Cancelar la creación
        </button>
    </a>
</article>
{% endblock %}

{% block extra_content %}
<dialog id="confirm_new_tag" class="modal">
    <div class="modal-box bg-surface-card space-y-6">
        <form id="form_new_tag" method="post" action="" class="ct-form-new-tag p-3">
            {% csrf_token %}
            <label for="{{ form_new_tag.nueva_etiqueta.id_for_label }}"
                class="text-md text-black flex max-sm:flex-col gap-3">
                <!-- <p class="font-bold text-lg">Nueva etiqueta:</p> -->
                {{ form_new_tag.nueva_etiqueta }}
            </label>
            <article
                class="flex max-sm:flex-col justify-center gap-8 max-sm:gap-4 mt-4 text-white font-medium tracking-wide">
                <button form="form_new_tag" type="submit" class="cts-btn-general cts-btn-primary btn-push">
                    Agregar
                </button>
                <button type="button" class="cts-btn-general cts-btn-fourthy btn-push"
                    onclick="confirm_new_tag.close()">
                    Cancelar
                </button>
            </article>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-tags.js' %}"></script>
{% endblock %}