{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Configuracion{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content text-black">
        <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>
        {% if error %}
        <p class="text-2xl">{{ error }}</p>
        {% endif %}
        <form method="post" action="" class="ct-codes-form flex flex-col gap-5">
            {% csrf_token %}
            <h2 class="text-2xl mb-2 font-bold">Codificar productos</h2>
            <hr>
            <article class="w-full flex flex-col justify-center items-center gap-5">
                <p class="text-center font-bold tracking-wide text-xl bg-surface-card px-3 py-3 pb-4 rounded max-w-4xl">
                    Puede dejar los campos como están para usar los códigos predefinidos.
                </p>
                <article class="flex flex-row flex-wrap gap-4 items-center justify-center max-w-4xl">
                    {% for field in form_codes %}
                    <label for="{{ field.id_for_label }}"
                        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide">
                        <p class="tracking-normal capitalize text-base font-bold">{{ field.label }}</p>
                        {{ field }}
                    </label>
                    {% endfor %}
                </article>
                <button type="button" class="cts-btn-general cts-btn-secondary btn-push uppercase"
                    onclick="setPermutations()">
                    regenerar ordenes
                </button>
            </article>

            <h2 class="text-2xl mb-2 font-bold">Ordenes</h2>
            <hr>
            <article class="w-full">
                <section class="flex justify-center">
                    <article
                        class="ct-orden-list grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-4 px-3 py-4 justify-center items-center capitalize text-lg bg-surface-sweet">
                    </article>
                </section>
            </article>

            <hr>
            <article class="flex flex-col items-center gap-4">
                <section class="flex w-full max-sm:flex-col flex-wrap gap-4 max-w-2xl">
                    <button type="submit" class="cts-btn-general cts-btn-primary btn-push flex-1 w-full">
                        Continuar
                    </button>
                    <a href="{% url 'cata_system:panel_configuracion_tags' %}" class="flex-1 w-full">
                        <button type="button" class="cts-btn-general cts-btn-secondary btn-push w-full">
                            Paso anterior
                        </button>
                    </a>
                </section>
                <a href="{% url 'cata_system:seleccion_tecnica' %}" class="w-full max-w-2xl">
                    <button type="button" class="cts-btn-general cts-btn-error btn-push w-full">
                        Cancelar la creación
                    </button>
                </a>
            </article>
        </form>
        <input type="number" value="{{ num_tester }}" class="ct-num-cata hidden" disabled>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-codes.js' %}"></script>
{% endblock %}