{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Configuracion{% endblock %}

<!--
||||Debe tener los siguietens campos para:
-- Convenvionales tipo escalas
- Preguntar si desea darle un nombre a la sesion
- Numero produtos
- Numero jueces
- Numero repeticiones, debe ser mayor a 1, no validar si es menos [-------------REALIZAR-------------]
- Tipo de escala, seran dos, de rango o estructurada
-->

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-gray-600 my-10">
    <article class="flex flex-col gap-4 bg-gray-400 md:p-10 p-5 rounded-2xl lg:w-4xl w-full">
        <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>
        {% if error %}
        <p class="text-sm bg-red-200 text-center">{{ error }}</p>
        {% endif %}
        <hr>
        <form method="post" action="" class="[&>article]:not-last:mb-4 [&>article]:not-first:pt-4 [&>article]:px-6">
            {% csrf_token %}

            <label for="form_sesion.id_tecnica.id_for_label" class="hidden">
                {{ form_sesion.id_tecnica }}
            </label>

            <article>
                <h2 class="text-2xl mb-2 font-bold">Información Basica</h2>
                <section class="flex justify-center items-center">
                    <label for="{{form_sesion.nombre_sesion.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-fit font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-xl font-bold">Ingrese el nombre de la sesion si lo desea:</p>
                        {{ form_sesion.nombre_sesion }}
                    </label>
                </section>
                <section
                    class="flex flex-row flex-wrap justify-center gap-4 [&>label]:text-lg [&>label]:flex [&>label]:flex-col [&>label]:items-center [&>label]:px-2 [&>label]:font-medium [&>label]:tracking-wide [&>label]:[&>p]:tracking-normal [&>label]:[&>p]:text-base [&>label]:[&>p]:font-bold">
                    <label for="{{ form_sesion.numero_productos.id_for_label }}">
                        <p>Número de Productos:</p>
                        {{ form_sesion.numero_productos }}
                    </label>
                    <label for="{{ form_sesion.numero_catadores.id_for_label }}">
                        <p>Número de Catadores:</p>
                        {{ form_sesion.numero_catadores }}
                    </label>
                    <label for="{{ form_sesion.numero_repeticiones.id_for_label }}">
                        <p>Número de Repeticiones:</p>
                        {{ form_sesion.numero_repeticiones }}
                    </label>
                </section>
                <section class="flex justify-center items-center mt-2">
                    <label for="{{form_sesion.instrucciones.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-fit font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-base font-bold">Ingrese las instrucciones para la tecnica:</p>
                        {{ form_sesion.instrucciones }}
                    </label>
                </section>
            </article>
            <hr>
            <article class="cs-escalas-radio flex flex-col gap-4">
                <h2 class="text-2xl font-bold">Selecciona estilo para las palabras</h2>
                <section class="flex flex-row gap-4 justify-around flex-wrap">
                    {% for escala in form_sesion.estilo_palabras %}
                    <label for="{{escala.id_for_label}}"
                        class="ct-radio-estilo uppercase text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 border-blue-800  transition-all rounded-xl bg-blue-500 text-white w-fit">
                        {{ escala.tag }}
                        {{ escala.choice_label }}
                    </label>
                    {% endfor %}
                </section>
                <p
                    class="ct-ayuda-estilo text-lg font-bold tracking-wide bg-gray-600 text-white text-center py-1 px-4 rounded-xl">
                </p>
            </article>
            <hr>
            <article class="cs-escalas-radio flex flex-col gap-4">
                <h2 class="text-2xl font-bold">Selecciona una escala</h2>
                <section class="flex flex-row gap-4 justify-around flex-wrap">
                    {% for escala in form_sesion.tipo_escala %}
                    <label for="{{escala.id_for_label}}"
                        class="ct-radio-escala uppercase text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 border-blue-800  transition-all rounded-xl bg-blue-500 text-white w-fit">
                        {{ escala.tag }}
                        {{ escala.choice_label }}
                    </label>
                    {% endfor %}

                    {% if form_sesion.tipo_escala.errors %}
                    <div class="w-full text-center text-red-600 text-xl font-medium tracking-wide">
                        {{ form_sesion.tipo_escala.errors }}
                    </div>
                    {% endif %}
                </section>

                <section class="py-2 px-5 flex flex-col justify-center items-center gap-2 relative">
                    <label for="{{ form_sesion.tamano_escala.id_for_label }}"
                        class="ct-size-scale text-lg flex flex-col items-center px-2 font-medium">
                        <p>Establece número de segmentos:</p>
                        {{ form_sesion.tamano_escala }}
                    </label>
                    {% if form_sesion.tamano_escala.errors %}
                    <article
                        class="w-fit rounded px-2 py-0.5 text-center text-white text-sm font-medium tracking-wide bg-red-500">
                        {{ form_sesion.tamano_escala.errors }}
                    </article>
                    {% endif %}
                </section>
            </article>
            <hr>
            <article class="cs-escalas-radio flex flex-col items-center gap-4">
                <button type="submit"
                    class="uppercase text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 active:border-yellow-500 border-yellow-800  transition-all rounded-xl bg-yellow-500 text-white w-fit">Continuar</button>
            </article>
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-basic.js' %}"></script>
{% endblock %}