{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Configuracion{% endblock %}

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-gray-600 my-10">
    <section class="w-fit h-fit relative">
        <article class="flex flex-col gap-4 bg-gray-400 md:p-10 p-5 rounded-2xl lg:w-4xl w-full">
            <ul class="all-words hidden">
                {% for word in words %}
                <li class="word">
                    <p>{{ word.nombre_palabra }}</p>
                    <p>{{ word.id }}</p>
                </li>
                {% endfor %}
            </ul>
            <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>
            <hr>
            {% if error %}
            <p class="bg-red-400 font-bold text-lg tracking-wide text-white capitalize text-center py-2">
                {{ error }}
            </p>
            {% endif %}

            <article class="flex flex-col md:flex-row gap-5 justify-between">
                <section class="flex-3/5 flex flex-col gap-4">
                    <form action="" method="get" class="ct-serach-words">
                        {% csrf_token %}
                        <p class="text-lg font-bold text-center mb-2 bg-gray-600 p-2 rounded text-white">
                            Dejar en blaco para buscar las primeras 10 palabras
                        </p>
                        <section class="flex flex-row gap-2">
                            <label for="search" class="w-full">
                                <input type="text" name="search" id="search" placeholder="Buscar palabra"
                                    class="p-2 px-4 bg-gray-200 rounded-lg w-full text-lg font-medium">
                            </label>
                            <button type="submit"
                                class="text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 active:border-yellow-500 border-yellow-800  transition-all rounded-xl bg-yellow-500 text-white w-fit capitalize">
                                Buscar
                            </button>
                        </section>
                    </form>
                    <p
                        class="ct-error-words hidden capitalize text-white bg-red-600 text-center text-2xl p-1.5 rounded">
                        error</p>
                    <ul class="ct-palabras-encontradas  gap-2 grid-cols-2 max-h-96 overflow-y-auto">
                        <object type="image/svg" class="flex justify-center items-center h-full">
                            <img src="{% static 'img/lupa.svg' %}" alt="lupa de busqueda" class="h-full">
                        </object>
                    </ul>
                </section>
                <section class="flex-1/3 bg-gray-600 text-white p-4 rounded-lg text-center min-h-96">
                    <p class="text-xl font-bold pb-3">Lista de palabras</p>
                    <hr class="mb-3 text-white">
                    <ul class="ct-palabras-usadas flex flex-col gap-3">
                        <img src="{% static 'img/list.svg' %}" alt="lista de palabras" class="ct-img-list">
                    </ul>
                </section>
            </article>

            <article class="ct-new-tags bg-gray-600 p-5 flex justify-center items-center rounded-2xl">
                <form method="post" action="" class="ct-form-new-word p-3">
                    {% csrf_token %}
                    <p class="mb-4 text-2xl font-bold text-center text-white">¿No encuentras una palabra?</p>
                    <label for="{{ form_word.nombre_palabra.id_for_label }}"
                        class="font-medium text-xl text-white flex gap-3 mb-4">
                        <p class="px-4">Nueva palabra:</p>
                        {{ form_word.nombre_palabra }}
                    </label>
                    <p
                        class="ct-error-word mb-4 font-bold bg-red-500 text-white text-md capitalize text-center rounded hidden">
                        error</p>
                    <hr class="text-white">
                    <article class="flex justify-center gap-8 mt-4 text-white font-medium tracking-wide">
                        <button class="rounded px-3 py-1 bg-green-700 active:bg-green-600" type="submit">
                            Crear y agregar a la lista
                        </button>
                    </article>
                </form>
            </article>

            <article
                class="ct-notification-red absolute max-md:fixed bottom-0 mb-4 left-1/2 -translate-x-1/2 bg-red-600 text-white p-2 px-4 rounded-lg text-center font-medium hidden uppercase">
            </article>
            <article
                class="ct-notification-green absolute max-md:fixed bottom-0 mb-4 left-1/2 -translate-x-1/2 bg-green-600 text-white p-2 px-4 rounded-lg text-center font-medium hidden uppercase">
            </article>
        </article>
    </section>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-words.js' %}"></script>
{% endblock %}