{% extends 'tecnicas/layouts/conf_create_session.html' %}
{% load static %}

{% block title %}Panel de palabras{% endblock %}
{% block title_form %}Panel de palabras{% endblock %}

{% block content_main_form %}
<form method="get" id="form-vocabulario">
    <label for="{{ form.vocabulario.id_for_label }}" class="text-lg font-medium tracking-wide w-full space-y-4">
        <h2 class="text-2xl mb-2 font-bold">Seleccione un vocabulario</h2>
        {{ form.vocabulario }}
    </label>
</form>

<div id="palabras-container" class="overflow-y-auto w-full">
    <h2 class="text-2xl mb-2 font-bold">Palabras asociadas:</h2>
    <ul id="palabras-lista" class="flex flex-wrap gap-4 w-full">
        <li class="text-center font-bold tracking-wide text-xl bg-surface-card px-3 py-3 pb-4 rounded w-full">
            Selecciona un vocabulario para ver sus palabras
        </li>
    </ul>
</div>
{% endblock %}

{% block extra_content %}
<form action="" method="post" class="ct-creat-session mt-4">
    {% csrf_token %}
    <article class="cs-escalas-radio max-lg:flex-col justify-center flex gap-4">
        <section class="flex max-lg:flex-col flex-wrap items-center justify-center gap-4">
            <a href="{% url 'cata_system:panel_configuracion_codes' %}" class="flex-1 w-full">
                <button type="button" class="cts-btn-general cts-btn-fifthy btn-push w-full">
                    Paso anterior
                </button>
            </a>
            <button type="submit" name="start" class="cts-btn-general cts-btn-primary btn-push w-fit max-lg:w-full">
                Crear sesión
            </button>
        </section>
        <a href="{% url 'cata_system:seleccion_tecnica' %}" class="w-fit max-lg:w-full">
            <button type="button" class="cts-btn-general cts-btn-fourthy btn-push w-fit max-lg:w-full">
                Cancelar la creación
            </button>
        </a>
    </article>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/choose-vocabulary.js' %}"></script>
{% endblock %}