{% extends 'layouts/conf_create_session.html' %}
{% load static %}

{% block title %}Panel de codificación de productos{% endblock %}
{% block title_form %}Panel de codificación de productos{% endblock %}

{% block content_main_form %}
<article class="space-y-4 bg-surface-card p-4 rounded">
    <h2 class="text-2xl font-bold">Codificar productos</h2>
    <p class="text-center font-bold tracking-wide text-xl">
        Puede dejar los campos como están para usar los códigos predefinidos
    </p>
    <article class="flex flex-row flex-wrap gap-4 items-center justify-center">
        {% for field in form_codes %}
        <label for="{{ field.id_for_label }}" class="text-lg flex flex-col items-center px-2 font-medium tracking-wide">
            <p class="tracking-normal capitalize text-base font-bold">{{ field.label }}</p>
            {{ field }}
        </label>
        {% endfor %}
    </article>
</article>

{% if use_technique == 'escalas' %}
<article class="w-full space-y-4 p-4 rounded bg-surface-card">
    <h2 class="text-2xl mb-2 font-bold">Órdenes</h2>
    <p class="text-center font-bold tracking-wide text-xl">
        Estas ordenes serán asignadas a los Catadores de forma aleatoria al entrar a la sesión
    </p>

    <section class="flex justify-center">
        <article
            class="ct-orden-list grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-4 px-3 py-4 justify-center items-center capitalize text-lg">
        </article>
    </section>

    <div class="flex justify-center">
        <button type="button" class="cts-btn-general cts-btn-fifthy btn-push" onclick="setPermutations()">
            Volver a ordenar
        </button>
    </div>
</article>
{% endif %}

<article class="cs-escalas-radio max-lg:flex-col justify-center flex gap-4">
    <section class="flex max-lg:flex-col flex-wrap items-center justify-center gap-4">
        <a href="{% url 'cata_system:panel_configuracion_tags' %}" class="flex-1 w-full">
            <button type="button" class="cts-btn-general cts-btn-fifthy btn-push w-full">
                Paso anterior
            </button>
        </a>
        <button type="submit" class="cts-btn-general cts-btn-primary btn-push w-fit max-lg:w-full">
            Continuar
        </button>
    </section>
    <a href="{% url 'cata_system:seleccion_tecnica' %}" class="w-fit max-lg:w-full">
        <button type="button" class="cts-btn-general cts-btn-fourthy btn-push w-fit max-lg:w-full">
            Cancelar la creación
        </button>
    </a>
</article>

{% if use_technique == 'escalas' %}
<input type="number" value="{{ num_tester }}" class="ct-num-cata hidden" disabled>
{% endif %}
{% endblock %}

{% block extra_js %}
{% if use_technique == 'escalas' %}
<script src="{% static 'js/panel-codes.js' %}"></script>
{% endif %}
{% endblock %}