{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Configuracion{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content text-black">
        <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>

        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% endif %}
        {% if message %}
        {% include "../components/error-message.html" with message=message %}
        {% endif %}

        <form method="post" action="" class="space-y-4">
            {% csrf_token %}
            <article>
                <h2 class="text-2xl mb-2 font-bold">Información Basica</h2>
                <section class="flex justify-center items-center">
                    <label for="{{form_sesion.nombre_sesion.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-full font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-xl font-bold">Nombre del proyecto:</p>
                        {{ form_sesion.nombre_sesion }}
                    </label>
                </section>
                <section class="flex flex-row flex-wrap justify-center gap-4">
                    <label for="{{ form_sesion.numero_productos.id_for_label }}"
                        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide flex-1">
                        <p class="tracking-normal text-base font-bold">
                            Número de Productos:
                        </p>
                        {{ form_sesion.numero_productos }}
                    </label>
                    <label for="{{ form_sesion.numero_catadores.id_for_label }}"
                        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide flex-1">
                        <p class="tracking-normal text-base font-bold">
                            Número de Catadores:
                        </p>
                        {{ form_sesion.numero_catadores }}
                    </label>
                </section>
                <section class="flex justify-center items-center mt-2">
                    <label for="{{form_sesion.instrucciones.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-full font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-base font-bold">Instrucciones para la sesión:</p>
                        {{ form_sesion.instrucciones }}
                    </label>
                </section>
            </article>

            <article class="space-y-4">
                <h2 class="text-2xl font-bold">Elije Modalidad</h2>
                <section class="flex flex-row gap-4 justify-around flex-wrap">
                    {% for choice in form_sesion.modalidad %}
                    <label for="{{choice.id_for_label}}"
                        class="cts-btn-general-compress cts-btn-secondary btn-push px-4 py-2 uppercase flex-1 flex items-center justify-around gap-2">
                        {{ choice.tag }}
                        <p class="italic text-center flex-1">
                            {{ choice.choice_label }}
                        </p>
                    </label>
                    {% endfor %}
                </section>
            </article>

            <article class="w-full flex max-sm:flex-col flex-wrap items-center justify-center gap-4">
                <button type="submit" class="cts-btn-general cts-btn-primary btn-push flex-1/4 w-full">
                    Continuar
                </button>
                <a href="{% url 'cata_system:seleccion_tecnica' %}" class="flex-1/4 w-full">
                    <button type="button" class="cts-btn-general cts-btn-error btn-push w-full">
                        Cancelar la creación
                    </button>
                </a>
            </article>
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-basic.js' %}"></script>
{% endblock %}