{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Configuracion{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content text-black">
        <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>

        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% endif %}
        {% if message %}
        {% include "../components/error-message.html" with message=message %}
        {% endif %}

        <form method="post" action="" class="space-y-4">
            {% csrf_token %}
            <article class="space-y-4">
                <h2 class="text-2xl font-bold">Información Basica</h2>

                <section class="flex justify-center items-center">
                    <label for="{{form_sesion.nombre_sesion.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-fit font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-xl font-bold">Ingrese el nombre de la sesion si lo desea:</p>
                        {{ form_sesion.nombre_sesion }}
                    </label>
                </section>

                <section class="flex justify-center items-center">
                    <label for="{{ form_sesion.numero_productos.id_for_label }}"
                        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide">
                        <p class="tracking-normal text-base font-bold">
                            Número de Productos:
                        </p>
                        {{ form_sesion.numero_productos }}
                    </label>
                </section>

                <section class="flex justify-center items-center">
                    <label for="{{form_sesion.instrucciones.id_for_label}}"
                        class="text-lg flex flex-col items-center px-2 w-fit font-medium tracking-wide mb-4">
                        <p class="tracking-normal text-base font-bold">Ingrese las instrucciones para la tecnica:</p>
                        {{ form_sesion.instrucciones }}
                    </label>
                </section>
            </article>

            <article class="cs-escalas-radio flex flex-col gap-4">
                <h2 class="text-2xl font-bold">Selecciona estilo para las palabras</h2>
                <section class="flex flex-row gap-4 justify-around flex-wrap">
                    {% for estilo in form_sesion.estilo_palabras %}
                    <label for="{{estilo.id_for_label}}"
                        class="ct-radio-estilo uppercase text-lg tracking-wider font-bold p-2 px-4 rounded-xl cts-btn-secondary btn-push">
                        {{ estilo.tag }}
                        {{ estilo.choice_label }}
                    </label>
                    {% endfor %}
                </section>
                <section class="w-full flex justify-center items-center">
                    <p
                        class="cts-help-style-words max-w-2xl text-lg font-medium tracking-wide bg-surface-card text-center py-1 px-4 rounded-xl">
                    </p>
                </section>
            </article>

            <article class="w-full flex max-sm:flex-col flex-wrap items-center justify-center gap-4">
                <button type="submit" class="cts-btn-general cts-btn-primary btn-push flex-1/4 w-full">
                    Continuar
                </button>
                <a href="{% url 'cata_system:seleccion_tecnica' %}" class="flex-1/4 w-full">
                    <button type="button" class="cts-btn-general cts-btn-error btn-push w-full">
                        Cancelar la creación
                    </button>
                </a>
            </article>
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-basic-cata.js' %}"></script>
{% endblock %}