{% extends 'analist/base_analist.html' %}

{% block title %}Panel principal{% endblock %}

{% block content_analist %}
<article class="cts-container-config">
    <header class="text-center flex sm:flex-row flex-col md:gap-8 gap-3 items-center w-full">
        <div class="bg-surface-card p-4 text-black rounded-xl sm:flex-1 w-full">
            <h1 class="font-bold text-2xl">Selección de técnica sensorial</h1>
        </div>
        <div class="sm:flex-1 flex flex-row-reverse">
            <a href="{% url 'cata_system:index' %}">
                <button class="cts-btn-general cts-btn-fourthy btn-push">
                    Panel principal
                </button>
            </a>
        </div>
    </header>
    <section class="text-white *:not-last:mb-4">
        {% if error %}
        <article class="cts-fourthy bg-red-400 rounded-xl text-center font-normal tracking-wider text-xl p-1 pb-2">
            <p>{{ error }}</p>
        </article>
        {% endif %}

        {% for cate, tecnicas in tipos.items %}
        <article>
            <div
                class="cts-btn-general cts-btn-primary flex flex-row gap-4 justify-center items-center rounded-lg text-2xl font-medium uppercase tracking-wider w-full relative">{{ cate }}</div>
            {% if tecnicas %}
            <section
                class="modal-list-{{ cate }} flex flex-col text-lg bg-surface-card p-4 pr-6 pl-8 sm:pl-12 z-10 -translate-y-1 rounded-b-2xl *:not-last:mb-4 w-full">
                {% for tecnica in tecnicas %}
                <a href="{% url 'cata_system:panel_configuracion_basic'%}?name_tecnica={{ tecnica }}">
                    <button
                        class="cts-btn-secondary btn-push rounded-lg border-b-2 border-l-4 px-3 py-2 w-full text-left font-bold uppercase">
                        {{ tecnica.descripcion }}
                    </button>
                </a>
                {% endfor %}
            </section>
            {% endif %}
        </article>
        {% endfor %}
    </section>
</article>
{% endblock %}

{% block extra_js %}
<script>
    function showList(name) {
        name = ".modal-list-" + name
        const list = document.querySelector(name)
        if (list.classList.contains("hidden")) {
            list.classList.remove("hidden")
        } else {
            list.classList.add("hidden")
        }
    }

    function hiddenError() {
        const error = document.getElementsByClassName("cts-fourthy")[0]
        error.classList.add("hidden")
    }
</script>
{% endblock %}