{% extends 'tecnicas/base.html' %}

{% block title %}Panel Configuracion{% endblock %}

<!--
||||Debe tener los siguietens campos para:
-- Convenvionales tipo escalas
- Agregar palabras o Elejir vocabulario
- Instrucciones
- Orden de presentacion
- Presentar un orden basico segun el numero de catadores y los productos, esta se le muestra el presentador
-->

<!-- <div class="flex flex-row justify-center items-center gap-5 text-lg">
                    <p class="font-medium p-1 px-3 bg-gray-200">Segmento 1</p>
                    <label for="etiquta_1">
                        <select name="etiquta_1" class="p-1 rounded bg-gray-200 [*]:capitalize" id="etiquta_1" required>
                            <option value="1">no se percibe</option>
                            <option value="2">poca percepcion</option>
                            <option value="3">se percibe</option>
                            <option value="4">percepcion intensa</option>
                            <option value="5">percepcion muy intensa</option>
                        </select>
                    </label>
                    <button type="button" class="p-1 rounded-lg bg-gray-200 active:bg-gray-400">➕</button>
                </div> -->

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-gray-600 my-10">
    <article class="flex flex-col gap-4 bg-gray-400 md:p-10 p-5 rounded-2xl lg:w-4xl w-full">
        <h1 class="text-center font-bold text-4xl">Panel de configuración</h1>
        <hr>
        <form method="post" action="" class="[&>article]:not-last:mb-4 [&>article]:not-first:pt-4 [&>article]:px-6">
            {% csrf_token %}
            <article class="bg-gray-500 p-4 flex flex-col gap-2">
                {% for field in form_tags %}
                <div class="flex flex-row justify-center items-center gap-5 text-lg">
                    <label for="{{ field.id_for_label }}" class="font-medium p-1 px-3 bg-gray-200 capitalize">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    <button type="button" class="p-1 rounded-lg bg-gray-200 active:bg-gray-400">➕</button>
                </div>
                {% endfor %}
            </article>
            <article class="bg-gray-800/70 justify-center items-center">
                <button class="p-2 bg-gray-400 w-fit" type="submit">Mandar</button>
            </article>
            <article class="absolute bg-gray-800/70 p-5 w-full h-full justify-center items-center hidden">
                <section class="p-2 bg-gray-400 w-fit">
                    <form action="">
                        {% csrf_token %}
                        <label for="nueva_etiqueta">Nueva etiqueta:<input id="nueva_etiqueta" type="text"
                                required></label>
                    </form>
                </section>
            </article>
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script>
    const itemsSelects = document.getElementsByClassName("ct-select-op")
    const options = itemsSelects.item(0).getElementsByTagName("option")
    const values = []

    for (let i = 0; i < options.length; i++) {
        if (options.item(i).value) {
            values.push(options.item(i).value)
        }
    }

    values.sort()

    for (let i = 0; i < itemsSelects.length; i++) {
        itemsSelects.item(i).value = values[i]
    }
</script>
{% endblock %}