## Se usa MySql como sgbd (Remover comillas en creacion de contenedor docker)
DB_NAME_DATABASE=""
DB_USER=""
DB_HOST=""
DB_PASSWORD=""
DB_PORT=""

## Ruta del binario de pnpm (pensado por usuarios de windows)
NPM_BIN_PATH=""

## Secreto django (generado con herramientas de Django)
DJANGO_SECRET_KEY=""

## Direccion de archivos staticos al colectarlos (usado en el servidor)
STATIC_ROOT=''

## Super Usuario al ingresar al panel de administracion de Django
SUPERUSER_USERNAME=""
SUPERUSER_EMAIL=""
SUPERUSER_PASSWORD=""

## Servicio para el storage usado para tecnica CATA (Check All That Apply)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
