{% load custom_filters %}
<article class="space-y-4 text-black">
    <h2 class="font-bold text-xl text-center">
        Datos de Napping con Perfil Ultra Flash
    </h2>

    <div class="overflow-x-auto rounded-lg border border-surface-general">
        <table id="generic-donwload-table" class="min-w-max w-full text-sm text-center border-collapse">
            <thead class="bg-surface-sweet font-semibold">
                <tr>
                    <th class="py-2 px-3 border border-surface-general">Producto</th>
                    {% for tester in testers %}
                    <th class="py-2 px-3 border border-surface-general uppercase">
                        X{{ forloop.counter }}
                    </th>
                    <th class="py-2 px-3 border border-surface-general uppercase">
                        Y{{ forloop.counter }}
                    </th>
                    {% endfor %}
                    {% for word in all_words %}
                    <th class="py-2 px-3 border border-surface-general capitalize">
                        {{ word }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="bg-surface-ligt divide-y divide-gray-200">
                {% for product, coordinates_tester in coordinates_no_mode.items %}
                <tr>
                    <td class="py-2 px-3 border border-surface-general">{{ product }}</td>
                    {% for tester in testers %}
                    {% with points=coordinates_tester|get_item:tester.user.username %}
                    <td class="py-2 px-3 border border-surface-general">
                        {{ points.px }}
                    </td>
                    <td class="py-2 px-3 border border-surface-general">
                        {{ points.py }}
                    </td>
                    {% endwith %}
                    {% endfor %}
                    {% for word in all_words %}
                    {% with word_freq=word_frequencies|get_item:product|get_item:word %}
                    <td class="py-2 px-3 border border-surface-general">
                        {% if word_freq %}{{ word_freq }}{% else %}0{% endif %}
                    </td>
                    {% endwith %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="flex justify-end">
        <button id="download-csv-btn" class="cts-btn-general cts-btn-primary btn-push"
            data-session-name="{{ session.session_name }}" data-session-code="{{ session.session_code }}">
            Descargar datos en CSV
        </button>
    </div>
</article>

{% load static %}
<script src="{% static 'js/download-table-csv.js' %}"></script>