{% extends 'layouts/base_analist.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_analist %}
<article class="cts-container-panel">
    <header class="space-y-2 bg-surface-card rounded p-4">
        <h1 class="text-center font-bold text-4xl">
            {% block title_form %}{% endblock %}
        </h1>
        <h2 class="text-center font-bold text-3xl uppercase underline">{{ description_technique }}</h2>
    </header>

    {% if error %}
    {% include "components/error_message.html" with message=error %}
    {% endif %}
    {% if message %}
    {% include "components/error_message.html" with message=message %}
    {% endif %}

    <form method="post" action="" class="space-y-4 cts-main-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="form_sesion.name_tecnica.id_for_label" class="hidden">
            {{ form_sesion.name_tecnica }}
        </label>

        {% block content_main_form %}
        {% endblock %}
    </form>
    {% block extra_content %}
    {% endblock %}

    {%include "components/toast_container.html"%}
</article>
{% endblock %}