{% extends 'layouts/base_tester.html' %}
{% load static %}

{% block title %}Detalles Sesion{% endblock %}

{% block content_tester %}
<header class="bg-surface-card rounded-xl p-4 text-center">
    <h1 class="rounded-xl font-bold text-2xl">
        Revisión de la actividad
    </h1>
    <p class="text-xl font-medium">
        Información sobre la sesión en la que participa
    </p>
</header>

{% if error %}
{% include "components/error_message.html" with message=error %}
{% endif %}
{% if message %}
{% include "components/error_message.html" with message=message %}
{% endif %}

<article class="grid grid-cols-2 max-sm:grid-cols-1 gap-2 text-center bg-surface-card p-4 rounded">
    {% include "components/details_fields/detail_init_test.html" with title="Código:" value=session_info.code %}

    {% if session_info.name %}
        {% include "components/details_fields/detail_init_test.html" with title="Nombre:" value=session_info.name %}
    {% else %}
        {% include "components/details_fields/detail_init_test.html" with title="Nombre:" value="Sin nombre de proyecto" %}
    {% endif %}

    {% include "components/details_fields/detail_init_test.html" with title="Técnica:" value=use_technique value_style="uppercase" %}

    {% block session_info %}
    {% endblock %}

    {% include "components/details_fields/detail_init_test.html" with title="Instrucciones:" value=session_info.instructions %}
</article>

{% block session_actions %}
<article class="flex flex-wrap gap-10">
    {% if has_ended %}
    <div
        class="text-2xl font-semibold flex-1 cts-btn-secondary p-4 flex justify-center items-center rounded-lg select-none">
        <p class=" text-black">Finalizaste tu participación</p>
    </div>
    {% else %}
    <button
        class="ct-btn-start-repition flex-1 uppercase text-lg tracking-wider cts-btn-general cts-btn-primary btn-push flex flex-col justify-center items-center gap-2"
        onclick="startTest()">
        Iniciar participación
        <figure class="w-10">
            <img src="{% static 'img/icons/check.svg' %}" alt="flechas girando" class="invert">
        </figure>
    </button>
    {% endif %}
    <a href="{% url 'cata_system:catador_list_sessions' num_page=1 %}">
        <button
            class="flex-1 uppercase text-lg tracking-wider cts-btn-general cts-btn-fourthy btn-push flex flex-col justify-center items-center gap-2">
            Regresar a la lista
            <figure class="w-10">
                <img src="{% static 'img/icons/exit.svg' %}" alt="bote de basura" class="invert">
            </figure>
        </button>
    </a>
</article>
{% endblock %}

{% block session_form %}
<form action="" method="post" class="hidden ct-action-form">
    {% csrf_token %}
    <input type="hidden" class="action-option" name="action" value="start_posting">
</form>
{% endblock %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/start-tester-test.js' %}"></script>
{% endblock %}