{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body_class %}h-screen bg-surface-general{% endblock %}

{% block navbar %}
<div class="navbar bg-surface-alter shadow-sm text-black border-b border-surface-sweet h-16 2xl:h-24">
    <div class="navbar-start h-full pl-6 space-x-2">
        <img src="{% static 'img/logos/iias.webp' %}" alt="Logo IIAS" class="h-full object-contain max-lg:hidden">
        <img src="{% static 'img/logos/isc.webp' %}" alt="Logo ISC" class="h-full object-contain max-lg:hidden">
    </div>

    <div class="navbar-center">
        <h2 class="font-bold text-2xl flex flex-col items-center max-lg:text-base max-lg:gap-0">
            <span>SensoLabMX - Plataforma para</span>
            <span>Captura de Datos Sensoriales</span>
        </h2>
    </div>

    <div class="navbar-end pr-2 space-x-2 h-full py-2">
        <img src="{% static 'img/logos/TecNM.webp' %}" alt="Logo TecNM" class="h-full object-contain max-lg:hidden">
        <img src="{% static 'img/logos/itsz.webp' %}" alt="Logo ITSZ" class="h-full object-contain max-lg:hidden">
        <img src="{% static 'img/logos/tec_huatusco.webp' %}" alt="Logo Tec Huatusco"
            class="h-full object-contain max-lg:hidden">
        <img src="{% static 'img/logos/colpus_text.webp' %}" alt="Logo Colpus"
            class="h-full object-contain max-lg:hidden">
    </div>
</div>
{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-container-login">
        <form action="" method="post" class="text-black flex flex-col lg:flex-row items-center">
            {% csrf_token %}
            <header class="text-center hidden lg:flex w-4/7">
                <div class="w-full">
                    <img class="w-full h-full object-cover" alt="Logo SensoLabMX" src="{% static 'img/sensolabmx.webp' %}" />
                </div>
            </header>

            <section class="flex flex-col gap-6 items-center w-3/7 max-lg:px-6 max-lg:w-full relative">
                {% block chain_user %}
                {% endblock %}

                <div class="flex flex-col items-center">
                    {% block icon %}{% endblock %}
                    <h2 class="text-2xl max-sm:text-xl font-semibold">{% block user_type %}{% endblock %}</h2>
                </div>

                {% if error %}
                    {% include "components/error_message.html" with message=error close_button=True %}
                {% endif %}
                {% if message %}
                    {% include "components/error_message.html" with message=message close_button=True %}
                {% endif %}

                {% block more_fields %}
                {% endblock %}

                <section class="flex flex-row flex-wrap gap-4 w-full justify-center">
                    <button type="submit" class="cts-btn-general cts-btn-primary btn-push uppercase w-full">
                        Ingresar
                    </button>
                </section>
            </section>
        </form>
    </article>
</article>
{% endblock %}

{% block footer %}
<footer class="footer footer-horizontal footer-center bg-surface-alter text-black p-10">
    <aside>
        <p class="font-bold text-2xl">
            ITSZ
        </p>
        <p class="font-bold">
            Insituto Tecnológico Superior de Zongolica
        </p>
        <p>Copyright © 2026 - Todos los derechos reservados</p>
    </aside>
    <nav class="w-full">
        <div class="grid grid-cols-2 gap-4 justify-items-center w-full lg:hidden">
            <img src="{% static 'img/logos/itsz.webp' %}" alt="Logo ITSZ" class="h-15">
            <img src="{% static 'img/logos/iias.webp' %}" alt="Logo IIAS" class="h-16">

            <img src="{% static 'img/logos/TecNM.webp' %}" alt="Logo TecNM" class="h-15">
            <img src="{% static 'img/logos/isc.webp' %}" alt="Logo ISC" class="h-16">

            <img src="{% static 'img/logos/colpus_text.webp' %}" alt="Logo Colpus" class="h-14">
            <img src="{% static 'img/logos/tec_huatusco.webp' %}" alt="Logo Tec Huatusco" class="h-16">
        </div>
    </nav>
</footer>
{% endblock %}