<dialog id="word-dialog" class="modal">
    <div class="modal-box bg-surface-ligt">
        <h3 class="font-bold text-lg">
            Describir producto
            <span id="dialog-product-code"></span>
        </h3>
        <p class="py-4">Agrega palabras que describan este producto (máximo 5).</p>
        <form id="word-form" class="flex gap-2 mb-4">
            <input type="text" id="word-input" placeholder="Palabra..."
                class="input input-bordered bg-surface-light w-full text-black" autocomplete="off">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

        <div id="word-list" class="flex flex-wrap gap-2 mb-4 min-h-[50px]"></div>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Cerrar</button>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>