<div class='card bg-surface-ligt shadow-lg text-black sm:max-w-80 w-full flex justify-center items-center'>
    <div class="card-body flex flex-col justify-between w-full">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-right bg-btn-secondary text-white p-2 rounded">
                {{ vocabulary.nombre_vocabulario }}
            </h2>
            <div class="text-lg bg-surface-alter-card p-2 rounded">
                <p class="font-bold">Creado en:</p>
                <p>{{ vocabulary.creado }}</p>
            </div>
        </div>
        <div>
            <a href="{% url 'cata_system:crear_vocabulario' %}?name_voca={{vocabulary.nombre_vocabulario}}">
                <button class="btn bg-btn-primary border-0 block w-full btn-push">
                    Revisar Vocabulario
                </button>
            </a>
        </div>
    </div>
</div>