<div class="card bg-surface-sweet border border-base-300 shadow-md hover:shadow-lg transition">
    <div class="card-body space-y-4">
        <h4 class="card-title text-lg font-bold">
            {% if session.nombre_sesion %}
            {{ session.nombre_sesion }}
            {% else %}
            <span class="italic text-gray-500">Sin nombre</span>
            {% endif %}
        </h4>

        <article class="text-sm space-y-1">
            <p><span class="font-semibold">Código:</span> {{ session.codigo_sesion }}</p>
            <p class="uppercase"><span class="font-semibold">Técnica:</span> {{ session.tecnica.tipo_tecnica }}</p>
            <p><span class="font-semibold">Fecha:</span> {{ session.fechaCreacion }}</p>
            <p>
                <span class="font-semibold">Finazliado:</span>
                {% if session.participacion_finalizado %}
                <span class="badge badge-success">Se ha concluido</span>
                {% else %}
                <span class="badge badge-warning">Sin concluir</span>
                {% endif %}
            </p>
            <p>
                <span class="font-semibold">Estatus:</span>
                {% if session.activo %}
                <span class="badge badge-success">En proceso</span>
                {% else %}
                <span class="badge badge-error">No activo</span>
                {% endif %}
            </p>
        </article>
        <article>
            <a href="{% url 'cata_system:catador_init_session' code_sesion=session.codigo_sesion %}">
                <button class="btn bg-btn-primary border-0 block w-full btn-push">
                    Inspeccionar
                </button>
            </a>
        </article>
    </div>
</div>