<div
    class="card w-full min-w-2xs max-w-sm bg-surface-ligt shadow-md hover:shadow-lg transition-shadow duration-300 text-black">
    <div class="card-body">
        <h2 class="text-center text-lg font-bold bg-surface-sweet rounded">
            {{ tester.user.first_name }} {{ tester.user.last_name }}
        </h2>
        <p class="text-lg text-center bg-surface-alter-card rounded px-2">
            <span class="font-bold">Usuario: </span>
            {{ tester.user.username }}
        </p>

        <div class="w-full text-base flex gap-2 flex-wrap text-center">
            <p class="font-semibold bg-btn-secondary rounded text-white p-1">
                <span class="font-bold">Genero:</span>
                {{ tester.genero }}
            </p>
            <p class="font-semibold bg-btn-secondary rounded text-white p-1">
                <span class="font-bold">Teléfono: </span>
                {{ tester.telefono }}
            </p>
            <p class="font-semibold bg-btn-secondary rounded text-white p-1">
                <span class="font-bold">Email: </span>
                {{ tester.user.email }}
            </p>
            <p class="font-semibold bg-btn-secondary rounded text-white p-1">
                <span class="font-bold">Nacimiento: </span>
                {{ tester.nacimiento|date:"d/m/Y" }}
            </p>
        </div>

        <div class="card-actions justify-end mt-3">
            <button class="btn bg-btn-primary border-0 block w-full btn-push">
                Ver detalles
            </button>
        </div>
    </div>
</div>