<section class="space-y-4 bg-surface-card p-4 rounded-md">
    <h2 class="text-2xl font-bold">Información de la técnica perfil ideal</h2>

    <div class="bg-white p-2 rounded-md space-y-4">
        <p class="text-lg">Esta técnica aplica tres tipos de escalas, Escala de Percepción (Estructurada), Escala Ideal y Escala Hedónica, todas segmentadas en 9 puntos.</p>
        <ul class="list-disc pl-6 text-lg">
            <li>La escala de percepción (Estructurada) es la que se utiliza para evaluar la intencidad de los
                atributos del producto.</li>
            <li>La escala ideal es la que se utiliza para marcar la intencidad ideal de los atributos del
                producto.</li>
            <li>La escala hedónica es la que se utiliza para evaluar el agrado del producto (no cada
                atributo) una vez evaluado los atributos de cada producto.</li>
        </ul>
    </div>
</section>