<section class="flex flex-row flex-wrap justify-center gap-4">
    {% if use_products %}
    <label for="{{ form_sesion.numero_productos.id_for_label }}"
        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide min-sm:flex-1 w-full">
        <p class="tracking-normal text-xl font-bold">
            Número de Productos:
        </p>
        {{ form_sesion.numero_productos }}
    </label>
    {% endif %}

    {% if use_max_testers %}
    <label for="{{ form_sesion.numero_catadores.id_for_label }}"
        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide min-sm:flex-1 w-full">
        <p class="tracking-normal text-xl font-bold">
            Número de Catadores:
        </p>
        {{ form_sesion.numero_catadores }}
    </label>
    {% endif %}

    {% if use_max_reps %}
    <label for="{{ form_sesion.numero_repeticiones.id_for_label }}"
        class="text-lg flex flex-col items-center px-2 font-medium tracking-wide min-sm:flex-1 w-full">
        <p class="tracking-normal text-xl font-bold">
            Número de Repeticiones:
        </p>
        {{ form_sesion.numero_repeticiones }}
        
        {% if use_pf %}
            <span class="text-sm font-bold">
                Usado en fase 3 para la evaluación de los productos
            </span>
        {% endif %}
    </label>
    {% endif %}
</section>