{% extends 'layouts/base_analist.html' %}
{% load static %}

{% block url_home %}{{ url_home }}{% endblock %}
{% block url_home_icon %}{{ url_home }}{% endblock %}

{% block title %}Panel Sesiones{% endblock %}

{% block content_analist %}
<article class="cts-container-panel">
    <header class="text-center flex flex-row max-sm:flex-col gap-8 items-center w-full">
        <div class="bg-surface-card p-4 text-black shadow-lg rounded-xl flex-1">
            <h1 class="font-bold text-2xl">Revisa los vocabularios existentes</h1>
            <h2 class="border-t-2 border-cts-primary pt-2 mt-2">
                En este sección se encuentran los vocabularios EsSese25 (Nestrud et al., 2016) y recuerdo MemVoc
                (Cabal-Prieto et al., 2022)
            </h2>
        </div>
        <div class="flex justify-end items-center">
            <a href="{% url 'cata_system:panel_vocabulario' %}" class="w-fit">
                <button class="cts-btn-general cts-btn-fourthy btn-push">
                    Panel Vocabulario
                </button>
            </a>
        </div>
    </header>
    {% if message %}
    {% include "components/error_message.html" with message=message %}
    {% endif %}

    {% if error %}
    {% include "components/error_message.html" with message=error %}

    {% else %}
    <section class="grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 w-full gap-4 justify-center">
        {% for vocabu in vocabularies %}
        {% include "components/elements_items/item_vocabulary.html" with vocabulary=vocabu %}
        {% endfor %}
    </section>

    <section class="flex justify-center items-center gap-2">
        <div class="join space-x-2">
            {% if num_page != 1 %}
            <a href="{% url 'cata_system:lista_vocabulario' num_page=num_page|add:-1 %}" class="w-fit">
                <button class="join-item btn bg-cts-primary py-1">
                    <img class="h-full" src="{% static 'img/icons/less_than.svg' %}" alt="menor que">
                </button>
            </a>
            {% endif %}
            <button class="join-item btn bg-cts-primary">Página {{ num_page }}</button>
            {% if not last_page %}
            <a href="{% url 'cata_system:lista_vocabulario' num_page=num_page|add:1 %}" class="w-fit">
                <button class="join-item btn bg-cts-primary py-1">
                    <img class="h-full" src="{% static 'img/icons/greater_than.svg' %}" alt="mayor que">
                </button>
            </a>
            {% endif %}
        </div>
    </section>
    {% endif %}

    <section class="mt-8 bg-surface-card p-4 text-black shadow-lg rounded-xl">
        <h3 class="text-2xl font-bold">Referencias</h3>
        <ul class="mt-2 space-y-2 list-disc list-inside">
            <li>
                Cabal-Prieto, A., Teodoro-Bernabé, G., Coria-Rincón, C., Sánchez-Arellano, L., Ramón-Canul, L.G.,
                Rodríguez-Miranda, J., Prinyawiwatkul, W., Juárez-Barrientos, J.M., Herrera-Corredor, J.A. &
                Ramírez-Rivera,
                E. de J. (2022). Development of a memories vocabulary (MemVOC) for food products using coffee as a
                model.
                Food Science and Technology, 42, 1-12. <a href="https://doi.org/10.1590/fst.44221" target="_blank"
                    rel="noopener noreferrer" class="text-cts-primary hover:underline">https://doi.org/10.1590/fst.44221</a>
            </li>
            <li>
                Nestrud, M.A., Meiselman, H.L., King, S.C., Lesher, L.L. & Cardello, A. V. (2016). Development of
                EsSense25,
                a shorter version of the EsSense Profile®. Food Quality and Preference, 48, 107-117. <a
                    href="https://doi.org/10.1016/j.foodqual.2015.08.005" target="_blank" rel="noopener noreferrer"
                    class="text-cts-primary hover:underline">https://doi.org/10.1016/j.foodqual.2015.08.005</a>
            </li>
        </ul>
    </section>
</article>
{% endblock %}