{% extends 'views/conf-panel-codes.html' %}
{% load static %}

{% block extra_sections %}
<article class="w-full space-y-4 p-4 rounded bg-surface-card">
    <h2 class="text-2xl mb-2 font-bold">Órdenes</h2>
    <p class="text-center font-bold tracking-wide text-xl">
        Estas ordenes serán asignadas a los Catadores de forma aleatoria al entrar a la sesión
    </p>

    <section class="flex justify-center">
        <article
            class="ct-orden-list grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-4 px-3 py-4 justify-center items-center capitalize text-lg">
        </article>
    </section>

    <div class="flex justify-center">
        <button type="button" class="cts-btn-general cts-btn-fifthy btn-push" onclick="setPermutations()">
            Volver a ordenar
        </button>
    </div>
</article>
{% endblock %}

{% block cancel_button %}
{% include 'scales/btn-conf-cancel.html' %}
{% endblock %}

{% block extra_inputs %}
<input type="number" value="{{ num_tester }}" class="ct-num-cata hidden" disabled>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-codes.js' %}"></script>
{% endblock %}