{% extends 'layouts/main-panel.html' %}

{% block buttons %}
{% include "components/buttons/main-button.html" with url_name="analist:scales:main_escalas" title="Crear Sesión" description="Crear una nueva sesión sensorial" icon="img/icons/configuration.svg" icon_class="invert" %}

{% include "components/buttons/main-button.html" with url_name="analist:scales:main_escalas" title="Sesiones sensoriales" description="Gestionar sesiones sensoriales" icon="img/icons/graphic.svg" icon_class="invert" %}
{% endblock %}
