{% extends 'layouts/init_sessiones_tester.html' %}
{% load static %}

{% block title %}Detalles Sesion{% endblock %}

{% block session_info %}
{% include "components/details_fields/detail_init_test.html" with title="Estilo:" value=session_info.style value_style="capitalize" %}

{% include "components/details_fields/detail_init_test.html" with title="Actividad:" value=session_info.activity %}

{% include "components/details_fields/detail_init_test.html" with title="Sesión:" value="Única" %}
{% endblock %}
