{% extends 'layouts/base_tester.html' %}
{% load static %}

{% block title %}Sesiones{% endblock %}

{% block content_tester %}
<header class="text-center flex flex-row max-sm:flex-col gap-8 items-center w-full">
    <div class="flex-1 bg-surface-card p-4 text-black shadow-lg rounded-xl">
        <h1 class="font-bold text-2xl">
            Lista de Sesiones en las
            que se ha participado
        </h1>
    </div>
    <div class="flex justify-end items-center">
        <a href="{% url 'cata_system:catador_main' %}" class="w-fit">
            <button class="cts-btn-general cts-btn-fourthy btn-push">
                Regresar Panel principal
            </button>
        </a>
    </div>
</header>

{% if error %}
{% include "components/error_message.html" with message=error %}
{% else %}
<div class="space-y-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for session in sessions %}
        {% include "components/elements_items/item_session_tester.html" with session=session %}
        {% empty %}
        <div class="col-span-full text-center text-gray-500">
            No hay sesiones registradas.
        </div>
        {% endfor %}
    </div>

    <section class="flex justify-center items-center gap-2">
        <div class="join space-x-2">
            {% if page > 1 %}
            <a href="{% url 'cata_system:catador_list_sessions' num_page=page|add:-1 %}" class="w-fit">
                <button class="join-item btn bg-cts-primary py-1 text-2xl">
                    <img class="h-full" src="{% static 'img/icons/less_than.svg' %}" alt="menor que">
                </button>
            </a>
            {% endif %}
            <button class="join-item btn bg-cts-primary">Página {{ page }}</button>
            {% if not last_page %}
            <a href="{% url 'cata_system:catador_list_sessions' num_page=page|add:1 %}" class="w-fit">
                <button class="join-item btn bg-cts-primary py-1 text-2xl">
                    <img class="h-full" src="{% static 'img/icons/greater_than.svg' %}" alt="mayor que">
                </button>
            </a>
            {% endif %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}