{% extends 'layouts/base_tester.html' %}

{% load static %}

{% block title %}Sesión Perfil Flash{% endblock %}

{% block content_tester %}
<header class="text-center flex-row w-full items-stretch flex justify-around flex-wrap gap-2">
    <h1 class="rounded font-bold text-2xl bg-surface-card p-4 flex-1">
        Sesión usando <br>técnica
        <span class="uppercase">{{ session.tecnica.tipo_tecnica.descripcion }}</span>
        <span class="hidden code-sesion">{{ session.codigo_sesion }}</span>
    </h1>
    <button class="cts-btn-general cts-btn-fourthy btn-push" onclick="exit_sesion('form-actions')">
        Salir de la sesión
    </button>
</header>

<article class="hidden">
    <form action="{% url 'cata_system:catador_init_session' code_sesion=session.codigo_sesion %}" method="post"
        class="form-actions">
        {% csrf_token %}
        <input type="hidden" name="action" class="action-input">
    </form>
</article>

<section class="hidden">
    <input type="hidden" value="{{ session.tecnica.id }}" name="id-tecnica" class="ct-input-id-tech">
</section>

{% if error %}
{% include "components/error_message.html" with message=error %}
{% endif %}

<article class="rounded flex flex-col gap-4">
    <section class="bg-surface-card p-2 rounded-lg">
        <p class="text-lg font-medium text-center">
            {{ session.tecnica.instrucciones }}
        </p>
        <p class="text-lg text-center">
            <span class="font-bold">Fase <span class="cts-phase-pf" data-phase="3">3</span>:</span>
            <span>Evaluación de Atributos</span>
        </p>
        <div class="bg-surface-card p-2 rounded-lg flex-1">
            <p class="text-lg font-bold text-center">
                Repetición:
            </p>
            <p class="text-2xl font-bold text-center">
                {{ repetition }}
            </p>
        </div>
    </section>

    <section class="flex items-center justify-center flex-wrap gap-4">
        <div class="bg-surface-card p-2 rounded-lg flex-1">
            <p class="text-lg font-bold text-center">
                El atributo que se está evaluando:
            </p>
            <p class="cts-word-rating text-2xl font-bold text-center" data-name-word="{{ word }}">
                "{{ word }}"
            </p>
        </div>
    </section>
</article>

<article class="container-rating-word p-6 space-y-6 bg-surface-card rounded">
    <!-- Definir toddos los productos para la escala -->
    <h2 class="text-xl font-bold">Productos en la sesión</h2>
    <div id="items" class="flex gap-4 flex-wrap justify-center">
        {% for product in products %}
        <div class="draggable bg-surface-sweet text-black font-bold px-4 py-2 rounded cursor-grab" draggable="true"
            data-id-product="{{ product.id }}" data-code="{{ product.codigoProducto }}">{{ product.codigoProducto }}
        </div>
        {% endfor %}
    </div>

    <section>
        <!-- Definir toddos los espacion de escala ordinaria -->
        <h2 class="text-xl font-bold mb-6">Escala ordinaria</h2>
        <div id="containers" class="flex gap-6 flex-wrap justify-center">
            {% for product in products %}
            <section class="w-fit space-y-2">
                <div class="dropzone w-32 min-h-16 bg-cts-enfasis border-2 border-dashed border-gray-500 rounded p-2 space-y-2"
                    data-index="{{ forloop.counter }}"></div>
                <p class="text-center text-2xl">{{ forloop.counter }}</p>
            </section>
            {% endfor %}
        </div>

        <!-- Linea de menor a mayor -->
        <section>
            <div class="flex justify-center items-center gap-4">
                <span class="text-2xl">➖</span>
                <hr class="border-2 flex-1">
                <SPan class="text-2xl">➕</SPan>
            </div>
            <p class="text-center text-sm">Valores de menor a mayor</p>
        </section>
    </section>

    <section class="flex justify-end gap-4">
        <button id="question-save" class="cts-btn-general cts-btn-fifthy btn-push">
            ¿Guardar datos actuales?
        </button>
        <button id="save-data" class="cts-btn-general cts-btn-primary btn-push hidden">
            Guardar
        </button>
        <button id="cancel-save" class="cts-btn-general cts-btn-fourthy btn-push hidden">
            Cancelar
        </button>
        <span id="loading-data-save" class="loading loading-spinner loading-xl text-accent hidden"></span>
    </section>
</article>

{% include "components/toast_container.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/actions-form.js' %}"></script>
<script src="{% static 'js/test_pf_rating_list.js' %}"></script>
<script src="{% static 'js/activity-monitor.js' %}"></script>
{% endblock %}