{% extends 'layouts/conf_create_session.html' %}
{% load static %}

{% block url_home %}{{ home_url }}{% endblock %}
{% block url_home_icon %}{{ home_url }}{% endblock %}

{% block title %}Generación de vocabulario{% endblock %}
{% block title_form %}Generación de vocabulario{% endblock %}

{% block extra_css %}
<style>
    @media screen and (max-width: 1024px) {
        .cts-h-serach-words-desk {
            height: auto;
        }
    }

    .cts-h-serach-words-desk {
        height: 35rem;
    }
</style>
{% endblock %}

{% block extra_content %}
<article class="flex flex-col md:flex-row gap-5 justify-between">
    <section class="w-full md:w-3/5 flex flex-col cts-h-serach-words-desk max-lg:h-auto">
        <form action="" method="get" class="ct-serach-words bg-surface-card p-4 rounded-lg">
            {% csrf_token %}
            <p class="text-lg font-bold text-center mb-2 bg-surface-card p-2 rounded">
                Escriba las primeras letras del atributo para buscar coincidencias
            </p>
            <section class="flex flex-row gap-2">
                <label for="search" class="w-full">
                    <input type="text" name="search" id="search" placeholder="Buscar atributo"
                        class="p-2 px-4 bg-white rounded-lg w-full text-lg font-medium">
                </label>
                <button type="submit"
                    class="font-bold rounded-lg text-xl px-3 text-center cts-btn-tertiary btn-push">
                    Buscar
                </button>
            </section>
        </form>
        <p class="cts-fourthy-words hidden capitalize bg-red-600 text-center text-2xl p-1.5 rounded">
            error</p>
        <ul class="ct-palabras-encontradas gap-2 grid-cols-2 py-4 overflow-y-scroll">
            <div class="flex justify-center items-center h-full w-full">
                <img src="{% static 'img/icons/lupa.svg' %}" alt="lupa de busqueda" class="h-full">
            </div>
        </ul>
    </section>

    <section class="w-full max-lg:h-auto md:w-2/5 bg-surface-card p-4 rounded-lg cts-h-serach-words-desk flex flex-col">
        <p class="text-xl font-bold pb-3">Lista de atributos</p>
        <hr class="mb-2">
        <ul class="ct-palabras-usadas space-y-4 flex-1 overflow-y-scroll max-lg:min-h-96 max-lg:max-h-96">
            {% if not words %}
            <img src="{% static 'img/icons/list.svg' %}" alt="lista de atributos" class="ct-img-list">
            {% endif %}
            {% for word in words %}
            <li
                class="bg-gray-400 text-black rounded font-bold text-lg px-4 py-3 flex flex-wrap flex-row flex-1 min-w-fit justify-center items-center gap-3">
                <p class="ct-word-received" id="{{ word.id }}">{{ word.nombre_palabra }}</p>
                <button
                    class="px-4 border-b-2 active:border-b-0 active:border-t-2 transition-all rounded-xl font-black w-fit capitalize active:border-red-500 border-red-800 bg-red-500">➖</button>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>

<form method="post" action="" class="ct-form-new-word p-4 bg-surface-card rounded-lg">
    {% csrf_token %}
    <p class="mb-2 font-bold text-2xl">¿No encuentras un atributo?</p>
    <section class="flex gap-4 flex-wrap justify-center max-lg:flex-col">
        <label for="{{ form_word.nombre_palabra.id_for_label }}"
            class="font-medium w-fit text-xl flex-1 *:w-full *:h-full max-lg:w-full">
            {{ form_word.nombre_palabra }}
        </label>
        <button class="cts-btn-general-compress cts-btn-fifthy btn-push p-2 flex-1 max-lg:w-full" type="submit">
            Crear y agregar a la lista
        </button>
    </section>
    <p class="cts-fourthy-word mb-4 font-bold bg-red-500 text-md capitalize text-center rounded hidden">
        error
    </p>
</form>

<form action="" method="post" class="ct-creat-session mt-4">
    {% csrf_token %}
    <article class="cs-escalas-radio max-lg:flex-col justify-center flex gap-4">
        <section class="flex max-lg:flex-col flex-wrap items-center justify-center gap-4">
            <a href="{% url 'cata_system:panel_configuracion_codes' %}" class="flex-1 w-full">
                <button type="button" class="cts-btn-general cts-btn-fifthy btn-push w-full">
                    Paso anterior
                </button>
            </a>
            <button type="submit" name="start" class="cts-btn-general cts-btn-primary btn-push w-fit max-lg:w-full">
                Crear sesión
            </button>
        </section>
        {% url 'cata_system:seleccion_tecnica' as def_url_main %}
        <a href="{{ url_main|default:def_url_main }}" class="w-fit max-lg:w-full">
            <button type="button" class="cts-btn-general cts-btn-fourthy btn-push w-fit max-lg:w-full">
                Cancelar la creación
            </button>
        </a>
    </article>
</form>

{% include 'components/toast_container.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/panel-words.js' %}"></script>
{% endblock %}