{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Detalles Sesion{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content relative max-w-4xl">
        <header class="text-center flex-row max-sm:flex-col w-full flex justify-around items-center flex-wrap gap-10">
            <h1 class="text-black rounded-xl font-bold text-2xl bg-surface-card shadow-lg p-4 flex-1">
                Detalles de la sesión
            </h1>
            <a href="{% url 'cata_system:panel_sesiones' page=1 %}">
                <button class="cts-btn-general cts-btn-error btn-push">
                    Volver a las Sesiones
                </button>
            </a>
        </header>

        {% if message %}
        {% include "../components/error-message.html" with message=message %}
        {% endif %}
        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% endif %}

        <p class="text-black font-bold text-2xl border-b-2">
            Información general
        </p>
        <article
            class="text-black rounded-xl grid grid-cols-2 max-sm:grid-cols-1 gap-3 max-sm:gap-1  text-xl max-sm:text-base">
            <section
                class="col-span-2 max-sm:col-span-1 bg-surface-ligt flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Código:
                </p>
                <p class="font-sans">
                    {{ session.codigo_sesion }}
                </p>
            </section>

            <section
                class="col-span-2 max-sm:col-span-1 bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Nombre:
                </p>
                <p class="antialiased">
                    {% if session.nombre_sesion %}
                    {{ session.nombre_sesion }}
                    {% else %}
                    Sin nombre
                    {% endif %}
                </p>
            </section>

            <section
                class="bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Fecha creación:
                </p>
                <p class="font-sans font-normal uppercase">
                    {{ session.fechaCreacion }}
                </p>
            </section>

            <section
                class="bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Estado:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal">
                    {{ status }}
                </p>
            </section>

            <section
                class="bg-surface-ligt flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Técnica:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal uppercase">
                    {{ session.tecnica.tipo_tecnica }}
                </p>
            </section>

            <section
                class="bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-sans">
                    <b>Catadores Max.</b> {{ session.tecnica.limite_catadores }}
                </p>
            </section>

            {% if repetition %}
            <section
                class="bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-sans">
                    <b>Repetición:</b> {{ repetition }}
                </p>
            </section>
            {% endif %}

            <section
                class="col-span-2 max-sm:col-span-1 bg-surface-card flex flex-wrap items-center justify-center max-sm:justify-normal gap-x-2 p-4 rounded-2xl">
                <p class="font-bold">
                    Instrucciones:
                </p>
                <p class="font-sans text-xl max-sm:text-base font-normal">
                    {{ session.tecnica.instrucciones }}
                </p>
            </section>
        </article>

        <p class="text-black font-bold text-2xl border-b-2">
            Modalidades disponibles
        </p>
        <article class="grid grid-cols-2 gap-4 max-sm:gap-2">
            {% if not session.activo %}
            {% for mode in modes %}
            <button
                class="cts-btn-general capitalize cts-btn-primary btn-push flex flex-col justify-center items-center gap-2"
                data-mode="{{ mode.nombre }}" onclick="startSession('{{ mode.nombre }}')">
                Napping {% if mode.nombre != "sin modalidad" %} {{ mode.nombre }} {% endif %}
                <figure class="w-10">
                    <img src="{% static 'img/giro.svg' %}" alt="flechas girando" class="invert">
                </figure>
            </button>
            {% endfor %}
            {% else %}
            <a href="{% url 'cata_system:monitor_sesion' session_code=session.codigo_sesion %}" class="w-full">
                <button
                    class="cts-btn-general capitalize active:border-orange-500 border-orange-800 bg-orange-600 btn-push flex flex-col justify-center items-center gap-2 w-full">
                    Monitorear repetición
                    <figure class="w-10">
                        <img src="{% static 'img/monitor.svg' %}" alt="flechas girando" class="invert">
                    </figure>
                </button>
            </a>
            {% endif %}
            <button
                class="uppercase text-lg cts-btn-general cts-btn-error btn-push flex flex-col justify-center items-center gap-2 w-full"
                onclick="showWarningDialog('cts-warnig-dialog')">
                borrar
                <figure class="w-10">
                    <img src="{% static 'img/basura.svg' %}" alt="bote de basura" class="invert">
                </figure>
            </button>
        </article>

        <section
            class="absolute w-full h-full flex justify-center items-center bg-surface-alter-card/70 top-0 left-0 p-6 rounded-xl cts-warnig-dialog hidden">
            <article class="bg-surface-card p-4 space-y-6 rounded-xl">
                <h2 class="text-4xl text-black text-center">
                    ¡¡¡Cuidado!!!
                </h2>
                <p class="text-2xl text-black text-center">
                    Esta acción no es reversible, si la continua también borrara todos los datos recopilados
                    relacionados a esta sesión y no podrá volver a recuperarlos
                </p>
                <section class="text-black font-bold text-xl space-y-4">
                    <p class="text-center">
                        ¿Estás seguro de continuar?
                    </p>
                    <div class="flex max-sm:flex-col gap-4 justify-center">
                        <button class="cts-btn-general cts-btn-error btn-push" onclick="deleteSession()">
                            Estoy seguro
                        </button>
                        <button class="cts-btn-general cts-btn-primary btn-push"
                            onclick="hiddenWarningDialog('cts-warnig-dialog')">
                            No, cancelar
                        </button>
                    </div>
                </section>
            </article>
        </section>

        <p class="text-black font-bold text-2xl border-b-2">
            Datos obtenidos
        </p>

        {% if there_data %}
        {% include "../components/table-napping-no-mode.html" with testers=testers coordinates_no_mode=coordinates_no_mode %}
        {% else %}
        {% include "../components/error-message.html" with message='Sin datos por mostrar aún' %}
        {% endif %}


        <form action="" method="post" class="form-action-session hidden">
            <input type="hidden" name="action" class="action-option">
            {% csrf_token %}
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/details-session.js' %}"></script>
<script src="{% static 'js/showHiddenElement.js' %}"></script>
{% endblock %}