{% extends 'tecnicas/layouts/details_layout.html' %}
{% load static %}

{% block more_details %}
{% include "../components/details_fields/basic_field.html" with field_name="Repetición actual:" field_value=technique.current_repetition %}
{% include "../components/details_fields/basic_field.html" with field_name="Repeticiones máximas:" field_value=technique.max_repetitions %}
{% include "../components/details_fields/basic_field.html" with field_name="Catadores máximos:" field_value=technique.max_catadores %}
{% endblock %}

{% block available_actions %}
{% include "../components/details_fields/actions_rep.html" with end_collection=finished code_session=session.session_code start_message="Iniciar fase o repetición" end_message="Recolección finalizada" %}
{% endblock %}

{% block data_obtained %}
<article class="bg-surface-card p-4 max-sm:px-2 text-black rounded space-y-4">
    <section class="">
        <header class="text-center">
            <h3 class="text-xl font-bold">Prmera fase</h3>
            <p class="text-lg">Listas iniciales de Catadores</p>
        </header>

        {% if fisrt_phase %}
        <article class="flex gap-4 overflow-x-auto py-2">
            {% for list_tester in fisrt_phase %}
            {% include "../components/item-list-words.html" with list_tester=list_tester %}
            {% endfor %}
        </article>
        {% else %}
        {% include "../components/error-message.html" with message='Sin datos por mostrar aún' %}
        {% endif %}
    </section>


    <section class="">
        <header class="text-center">
            <h3 class="text-xl font-bold">Segunda fase</h3>
            <p class="text-lg">Listas finales de Catadores</p>
        </header>

        {% if second_phase %}
        <article class="flex gap-4 overflow-x-auto py-2">
            {% for list_tester in second_phase %}
            {% include "../components/item-list-words.html" with list_tester=list_tester %}
            {% endfor %}
        </article>
        {% else %}
        {% include "../components/error-message.html" with message='Sin datos por mostrar aún' %}
        {% endif %}
    </section>

    <section class="">
        <header class="text-center">
            <h3 class="text-xl font-bold">Tercera fase</h3>
            <p class="text-lg">Califiaciones de Catadores</p>
        </header>

        <article class="text-xl space-y-4 space-x-4 mb-4">
            <p class="inline italic underline font-semibold">
                Se usa una escala <b>Ordinaria</b> para calificar
            </p>
            <p class="inline italic underline font-semibold">
                El valor máximo por calificación es <b>{{ valor_max }}</b>
            </p>
        </article>

        {% if repeticion == 1 %}
            {% if data_ratings %}
                {% include "../components/tables/table_pf_all.html" with second_phase=second_phase data_ratings=data_ratings session_name=session.session_name session_code=session.session_code %}
            {% else %}
                {% include "../components/error-message.html" with message='Sin datos por mostrar aún' %}
            {% endif %}
        {% else %}
            {% if data_ratings %}
                <article class="overflow-x-auto py-2 space-y-4">
                    {% for data_tester in data_ratings %}
                        {% include "../components/tables/table_pf.html" with data=data_tester session_name=session.session_name session_code=session.session_code %}
                    {% endfor %}
                </article>
                <div class="flex justify-end mt-3 gap-4 flex-wrap">
                    <button id="download-csv-btn" class="cts-btn-general cts-btn-primary btn-push">
                        Descargar datos CSV en zip
                    </button>
                    <button id="download-xls-btn" class="cts-btn-general cts-btn-primary btn-push">
                        Descargar datos en XLSX
                    </button>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
                <script src="{% static 'js/download-table-xlsx.js' %}"></script>
            {% else %}
                {% include "../components/error-message.html" with message='Sin datos por mostrar aún' %}
            {% endif %}
        {% endif %}
    </section>
</article>
{% endblock %}