{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Detalles Sesion{% endblock %}

{% block content %}
<article class="ct-container">
    <article class="ct-wrap-content">
        <header class="text-center flex-row w-full flex justify-around items-center flex-wrap gap-10">
            <h1 class="text-black rounded-xl font-bold text-2xl bg-surface-card shadow-lg p-4 flex-1">
                Detalles de la sesión
            </h1>
            <a href="{% url 'cata_system:index' %}" class="w-fit">
                <button
                    class="text-black bg-btn-secondary font-medium rounded-lg text-xl p-4 text-center border-pink-800 btn-push">
                    Volver a las Sesiones
                </button>
            </a>
        </header>

        {% if error %}
        <article class="bg-red-600 p-4 text-white rounded-xl ct-notification-error">
            <p class="block font-sans text-white text-xl antialiased font-bold uppercase tracking-wider text-center">
                {{ error }}
            </p>
        </article>
        {% endif %}

        {% if message %}
        <article class="bg-green-600 p-4 text-white rounded-xl ct-notification-error">
            <p class="block font-sans text-white text-xl antialiased font-bold uppercase tracking-wider text-center">
                {{ message }}
            </p>
        </article>
        {% endif %}

        <p class="text-black font-bold text-2xl border-b-2">
            Información general
        </p>
        <article
            class="text-black rounded-xl grid grid-cols-2 max-sm:grid-cols-1 gap-3 max-sm:gap-1 *:bg-surface-card *:flex *:flex-wrap *:items-center *:justify-center *:max-sm:justify-normal *:gap-x-2 *:p-4 *:rounded-2xl text-xl max-sm:text-base">
            <section class="col-span-2 max-sm:col-span-1">
                <p class="font-bold">
                    Código:
                </p>
                <p class="font-sans">
                    {{ sesion.codigo_sesion }}
                </p>
            </section>

            <section class="col-span-2 max-sm:col-span-1">
                <p class="font-bold">
                    Nombre:
                </p>
                <p class="antialiased">
                    {% if sesion.nombre_sesion %}
                    {{ sesion.nombre_sesion }}
                    {% else %}
                    Sin nombre
                    {% endif %}
                </p>
            </section>

            <section>
                <p class="font-bold">
                    Fecha creación:
                </p>
                <p class="font-sans font-normal uppercase">
                    {{ sesion.fechaCreacion }}
                </p>
            </section>

            <section>
                <p class="font-bold">
                    Estado:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal">
                    {% if sesion.activo %}
                    En proceso
                    {% else %}
                    Listo para iniciar repetición
                    {% endif %}
                </p>
            </section>

            <section>
                <p class="font-bold">
                    Estilo palabras:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal uppercase">
                    {{ sesion.tecnica.id_estilo }}
                </p>
            </section>

            <section>
                <p class="font-bold">
                    Técnica:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal uppercase">
                    {{ sesion.tecnica.tipo_tecnica }}
                </p>
            </section>

            <section>
                <p class="font-bold">
                    Rep. Hechas:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal">
                    {{ sesion.tecnica.repeticion }}
                </p>
            </section>

            <section>
                <p class="font-medium">
                    Rep. Max:
                </p>
                <p class="font-sans text-lg max-sm:text-base font-normal">
                    {{ sesion.tecnica.repeticiones_max }}
                </p>
            </section>

            <section class="col-span-2 max-sm:col-span-1">
                <p class="font-bold">
                    Instrucciones:
                </p>
                <p class="font-sans text-xl max-sm:text-base font-normal">
                    {{ sesion.tecnica.instrucciones }}
                </p>
            </section>
        </article>

        <p class="text-black font-bold text-2xl border-b-2">
            Palabras usadas para calificar
        </p>
        <article
            class="text-white rounded-xl grid grid-cols-4 max-sm:grid-cols-1 gap-3 *:bg-surface-ligt *:flex *:items-center *:justify-center *:gap-x-2 *:p-4 *:rounded-2xl">
            {% for palabra in palabras %}
            <section>
                <p class="block text-black text-xl antialiased font-medium">
                    {{ palabra.nombre_palabra }}
                </p>
            </section>
            {% endfor %}
        </article>


        <p class="text-black font-bold text-2xl border-b-2">
            Acciones disponibles
        </p>
        <article class="flex flex-wrap gap-10 max-sm:gap-2">
            {% if not sesion.activo %}
            <button
                class="ct-btn-start-repition flex-1 uppercase text-lg max-sm:text-base tracking-wider p-4 border-b-2 active:border-b-0 active:border-t-2 active:border-green-500 border-green-800  transition-all rounded-xl bg-green-600 text-white font-bold disabled:bg-amber-600 flex flex-col justify-center items-center gap-2"
                onclick="startRepetition()">
                Iniciar repetición
                <figure class="w-10">
                    <img src="{% static 'img/giro.svg' %}" alt="flechas girando" class="invert">
                </figure>
            </button>
            {% else %}
            <a href="{% url 'cata_system:monitor_sesion' session_code=sesion.codigo_sesion %}" class="flex-1 w-fit">
                <button
                    class="ct-btn-start-repition w-full uppercase text-lg max-sm:text-base tracking-wider p-4 border-b-2 active:border-b-0 active:border-t-2 active:border-orange-500 border-orange-800  transition-all rounded-xl bg-orange-600 text-white font-bold disabled:bg-amber-600 flex flex-col justify-center items-center gap-2">
                    Monitorear repetición
                    <figure class="w-10">
                        <img src="{% static 'img/monitor.svg' %}" alt="flechas girando" class="invert">
                    </figure>
                </button>
            </a>
            {% endif %}

            <button
                class="flex-1 uppercase text-lg max-sm:text-base tracking-wider p-4 border-b-2 active:border-b-0 active:border-t-2 active:border-red-500 border-red-800 transition-all rounded-xl bg-red-600 text-white font-bold disabled:bg-amber-600 flex flex-col justify-center items-center gap-2">
                borrar
                <figure class="w-10">
                    <img src="{% static 'img/basura.svg' %}" alt="bote de basura" class="invert">
                </figure>
            </button>
        </article>

        <p class="text-black font-bold text-2xl border-b-2">
            Datos obtenidos
        </p>

        {% if calificaciones.error %}
        <article class="bg-surface-card p-4 text-white rounded-xl">
            <p class="block font-sans text-xl antialiased font-normal uppercase tracking-wider text-center">
                {{ calificaciones.error }}
            </p>
        </article>
        {% else %}
        <article class="bg-surface-card p-4 text-white rounded-xl">
        </article>
        {% endif %}
        <form action="" method="post" class="form-action-session hidden">
            {% csrf_token %}
        </form>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/details-session.js' %}"></script>
{% endblock %}