{% extends 'tecnicas/layouts/base_monitor.html' %}
{% load static %}

{% block url_home %}{{ url_home }}{% endblock %}
{% block url_home_icon %}{{ url_home }}{% endblock %}

{% block finish_button %}
<button class="uppercase cts-btn-general-compress cts-btn-fifthy py-2 px-6 btn-push w-full"
{% if use_technique == "escalas" %}
    onclick="finishSession()"
{% else %}
    onclick="confirmFinishSession.showModal()"
{% endif %}
>
    Finalizar sesión
</button>
{% endblock %}

{% block extra_modals %}
{% if use_technique != "escalas" %}
<dialog id="confirmFinishSession" class="modal">
<div class="modal-box bg-surface-card text-black text-center">
    <h3 class="text-lg font-bold">¿Está seguro de finalizar la sesión?</h3>
    <p class="py-4">Asegúrese de que todos los catadores hayan participado en la sesión</p>
    <button type="button" onclick="finishSession()" class="cts-btn-general cts-btn-primary btn-push">Finalizar</button>
    <button type="button" onclick="confirmFinishSession.close()" class="cts-btn-general cts-btn-fourthy btn-push">Cancelar</button>
</div>
<form method="dialog" class="modal-backdrop">
    <button>close</button>
</form>
</dialog>
{% endif %}
{% endblock %}

{% block stats_grid %}
<section class="flex flex-wrap justify-around items-center">
    {% if max_testers %}
    <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
        <span class="font-semibold">Máximo:</span>
        <span>{{ max_testers }}</span>
    </div>
    {% endif %}
    
    <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
        <span class="font-semibold">Actuales:</span>
        <span>{{ current_testers }}</span>
    </div>
    
    <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
        <span class="font-semibold">Activos:</span>
        <span class="text-green-600 font-semibold">{{ active_testers }}</span>
    </div>
</section>
{% endblock %}