{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Sesiones{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content">
        <header class="text-center flex flex-row max-sm:flex-col gap-8 items-center w-full">
            <div class="bg-surface-card p-4 text-black shadow-lg rounded-xl flex-1">
                <h1 class="font-bold text-2xl">Administra las<br>sesiones sensoriales</h1>
            </div>
            <div class="flex-1 flex justify-end items-center">
                <a href="{% url 'cata_system:index' %}" class="w-fit">
                    <button class="cts-btn-general cts-btn-error btn-push">
                        Ir al Panel principal
                    </button>
                </a>
            </div>
        </header>

        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% else %}
        <section class="grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 w-full gap-4 justify-center">
            {% for sesion in sessions %}
            <div
                class='card {{ sesion.activo|yesno:"bg-surface-ligt,bg-surface-card" }} shadow-lg text-black sm:max-w-80 w-full flex justify-center items-center'>
                <div class="card-body flex flex-col justify-between w-full">
                    <div class="flex flex-col gap-1 [&>*]:first:text-xl [&>*]:first:font-bold [&>*]:first:border-b">
                        {% if sesion.nombre_sesion %}
                        <h2>{{ sesion.nombre_sesion }}</h2>
                        <span class="text-lg underline"><b>Código:</b><br>{{ sesion.codigo_sesion }}</span>
                        {% else %}
                        <span class="text-lg">Código:<br>{{ sesion.codigo_sesion }}</span>
                        {% endif %}
                    </div>
                    <ul class="mt-6 flex flex-col gap-2 text-base">
                        <li>
                            Se usa la Técnica:
                            <span class="uppercase font-bold">
                                {{ sesion.tecnica.tipo_tecnica.nombre_tecnica }}
                            </span>
                        </li>
                        <li>
                            El Estilo de palabras:
                            <span class="uppercase font-bold">
                                {{ sesion.tecnica.id_estilo.nombre_estilo }}
                            </span>
                        </li>
                        <li>
                            {{ sesion.fechaCreacion }}
                        </li>
                        <li>
                            Estado:
                            <span class="uppercase font-bold">
                                {% if sesion.activo %}
                                Activo
                                {% else %}
                                No activo
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                    <div class="mt-6">
                        <a href="{% url 'cata_system:detalles_sesion' session_code=sesion.codigo_sesion %}">
                            <button class="btn bg-btn-primary border-0 block w-full btn-push">
                                Inspeccionar sesión
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="flex justify-center items-center gap-2">
            <div class="join space-x-2">
                {% if num_page != 1 %}
                <a href="{% url 'cata_system:panel_sesiones' page=num_page|add:-1 %}" class="w-fit">
                    <button class="join-item btn bg-btn-secondary py-1">
                        <img class="h-full" src="{% static 'img/less-than.svg' %}" alt="menor que">
                    </button>
                </a>
                {% endif %}
                <button class="join-item btn bg-btn-secondary">Page {{ num_page }}</button>
                {% if not last_page %} 
                <a href="{% url 'cata_system:panel_sesiones' page=num_page|add:1 %}"class="w-fit">
                    <button class="join-item btn bg-btn-secondary py-1">
                        <img class="h-full" src="{% static 'img/greater-than.svg' %}" alt="mayor que">
                    </button>
                    </a>
                    {% endif %}
            </div>
        </section>
        {% endif %}
    </article>
</article>
{% endblock %}