{% extends 'tecnicas/layouts/base.html' %}
{% load static %}

{% block title %}Panel Sesiones{% endblock %}

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-surface-general mt-10 mb-10">
    <article class="max-sm:w-full flex flex-col gap-8 bg-surface-alter p-10 max-lg:p-6 max-sm:px-0 rounded-2xl">
        <header class="text-center flex flex-row max-sm:flex-col gap-8 items-center w-full">
            <div class="bg-surface-card p-4 text-black shadow-lg rounded-xl flex-1">
                <h1 class="font-bold text-2xl">Administra las<br>sesiones sensoriales</h1>
            </div>
            <div class="flex-1 flex justify-end items-center">
                <a href="{% url 'cata_system:index' %}" class="w-fit">
                    <button
                        class="text-black bg-btn-secondary font-medium rounded-lg text-xl p-4 text-center border-pink-800 btn-push">
                        Ir al Panel principal
                    </button>
                </a>
            </div>
        </header>

        <section class="grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-4 justify-center">
            {% for sesion in sessions %}
            <div class="card bg-surface-card shadow-lg text-black max-w-80 w-full">
                <div class="card-body flex flex-col justify-between">
                    <div class="flex flex-col gap-1 [&>*]:first:text-xl [&>*]:first:font-bold [&>*]:first:border-b">
                        {% if sesion.nombre_sesion %}
                        <h2>{{ sesion.nombre_sesion }}</h2>
                        <span class="text-lg underline"><b>Código:</b><br>{{ sesion.codigo_sesion }}</span>
                        {% else %}
                        <span class="text-lg">Código:<br>{{ sesion.codigo_sesion }}</span>
                        {% endif %}
                    </div>
                    <ul class="mt-6 flex flex-col gap-2 text-base">
                        <li>
                            Se usa la Técnica:
                            <span class="uppercase font-bold">
                                {{ sesion.tecnica.tipo_tecnica.nombre_tecnica }}
                            </span>
                        </li>
                        <li>
                            El Estilo de palabras:
                            <span class="uppercase font-bold">
                                {{ sesion.tecnica.id_estilo.nombre_estilo }}
                            </span>
                        </li>
                        <li>
                            {{ sesion.fechaCreacion }}
                        </li>
                    </ul>
                    <div class="mt-6">
                        <a href="{% url 'cata_system:detalles_sesion' session_code=sesion.codigo_sesion %}">
                            <button class="btn bg-btn-primary border-0 block w-full btn-push">Inspeccionar
                                sesión</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="flex justify-center items-center gap-2">
            <div class="join">
                <button class="join-item btn bg-btn-secondary">
                    <img class="h-full" src="{% static 'img/less-than.svg' %}" alt="menor que">
                </button>
                <button class="join-item btn bg-btn-secondary">Page 22</button>
                <button class="join-item btn bg-btn-secondary">
                    <img class="h-full" src="{% static 'img/greater-than.svg' %}" alt="mayor que">
                </button>
            </div>
        </section>
    </article>
</article>
{% endblock %}