{% extends 'layouts/login_base.html' %}
{% load static %}

{% block title %}Autentificación{% endblock %}

{% block chain_user %}
<div class="bg-surface-card rounded-xl absolute top-0 right-0">
    <a href="{% url 'cata_system:catador_login' %}" class="w-fit flex flex-col items-center">
        <img src="{% static 'img/icons/icon_wine.svg' %}" alt="Icon Data Base" class="w-15 object-contain">
        <span class="badge text-lg">Catador</span>
    </a>
</div>
{% endblock %}

{% block icon %}
<img src="{% static 'img/icons/icon_data_base.svg' %}" alt="Icon Data Base" class="w-40 object-contain">
{% endblock %}

{% block user_type %}Analista{% endblock %}

{% block more_fields %}
<label for="username" class="w-full">
    <input type="text" name="username" id="username" placeholder="Nombre de Usuario"
        class="placeholder:text-gray-400 placeholder:font-semibold text-xl max-sm:text-base bg-white py-3 px-6 rounded-xl w-full border-b-2 border-surface-sweet"
        required>
</label>

<label for="password" class="w-full">
    <input type="password" name="password" id="password" placeholder="Contraseña"
        class="placeholder:text-gray-400 placeholder:font-semibold text-xl max-sm:text-base bg-white py-3 px-6 rounded-xl w-full border-b-2 border-surface-sweet"
        required>
</label>
{% endblock %}