{% extends 'tecnicas/layouts/base.html' %}

{% load static %}

{% block title %}Convencional{% endblock %}

{% block extra_css %}
<style>
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--color-blue-500);
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #3b82f6;
        cursor: pointer;
    }

    @media (width < 40rem) {
        .container-forms {
            width: inherit;

        }

        .container-input {
            overflow-x: scroll;
        }
    }
</style>
{% endblock %}

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-gray-600 mt-10 mb-10 max-sm:">
    <article class="flex flex-col gap-8 bg-gray-400 p-10 max-sm:py-10 max-sm:px-3 rounded container-forms">
        <header class="text-center flex-row w-full items-stretch flex justify-around flex-wrap gap-2">
            <h1 class="text-white rounded font-bold text-2xl bg-gray-600 p-4 flex-1">
                Sesión usando <br>técnica Convencional
            </h1>
            <button
                class="text-lg font-bold tracking-wider p-2 px-8 border-b-4 active:border-b-0 active:border-t-2 active:border-blue-500 border-blue-800  transition-all rounded-xl bg-blue-500 text-gray-300"
                onclick="exit_sesion('form-actions')">
                Salir de la sesión
            </button>
        </header>

        <article class="hidden">
            <form action="{% url 'cata_system:catador_main' %}" method="post" class="form-actions">
                {% csrf_token %}
                <input type="hidden" name="action" class="action-input">
            </form>
        </article>

        {% if error %}
        <hr>
        <article class="bg-red-600 p-4 text-white rounded-xl ct-notification-error">
            <p class="block font-sans text-white text-xl antialiased font-bold uppercase tracking-wider text-center">
                {{ error }}
            </p>
        </article>
        {% endif %}

        <article class="rounded flex flex-col gap-4">
            <section class="flex items-center justify-center bg-gray-200 p-2 rounded-lg">
                <p class="text-lg font-medium text-center">
                    {{ session.tecnica.instrucciones }}
                </p>
            </section>
            <section class="flex items-center justify-center flex-wrap gap-4">
                <div class="bg-gray-200 p-2 rounded-lg flex-1">
                    <p class="text-lg font-bold text-center">
                        Producto:
                    </p>
                    <p class="text-2xl font-bold text-center ct-product-rating">
                        <span class="code-product">{{ product }}</span>
                        <span class="hidden id-product">{{ product.id }}</span>
                    </p>
                </div>
                <div class="bg-gray-200 p-2 rounded-lg flex-1">
                    <p class="text-lg font-bold text-center">
                        Repetición:
                    </p>
                    <p class="text-2xl font-bold text-center">
                        {{ session.tecnica.repeticion }}
                    </p>
                </div>
            </section>
            <section class="flex flex-col bg-red-200 py-2 px-4 rounded-lg min-sm:hidden">
                <p>
                    El largo de estas escalas puede afectar la vista en dispositivos móviles. Para ver el resto de la
                    escala puede deslizar con el dedo a la derecha o la izquierda sin tocar la escala.
                </p>
            </section>
        </article>

        <article
            class="scales-container [&>*:not(:last-child)]:mb-5 min-lg:grid min-lg:items-start grid-cols-2 gap-3 flex flex-col items-center justify-center">
            {% if type_scale == "continua" %}
            {% for word in words %}
            <form action="" method="post" class="form-rating-{{word}} w-full">
                {% csrf_token %}
                <article class="container-input w-full">
                    <article class="bg-gray-200 p-6 rounded-lg mb-3 w-fit">
                        <label for="id-range-word-{{word}}"
                            class="text-xl font-bold tracking-wide block mb-6 first-letter:uppercase">{{ word }}</label>

                        <span class="hidden id-word">{{ word.id }}</span>

                        <section class="block">
                            <div class="relative">
                                <input id="id-range-word-{{word}}" type="range" min="0" max="1000" value="500"
                                    name="rating-word"
                                    class="h-2 bg-gray-400 rounded-lg appearance-none cursor-pointer slider"
                                    style="width: {{scale.longitud}}cm;">

                                <div
                                    class="absolute top-0 left-0 w-0.5 transform -translate-x-1/2 h-full bg-red-500 z-10">
                                </div>

                                <div
                                    class="absolute top-1/5 left-1/2 w-0.5 transform -translate-x-1/2 h-4/5 bg-red-500 z-10">
                                </div>

                                <div
                                    class="absolute top-0 right-0 w-0.5 transform -translate-x-1/2 h-full bg-red-500 z-10">
                                </div>
                            </div>

                            <div class="flex justify-between mt-4">
                                <div class="flex flex-col items-start text-left w-[100px]">
                                    <span class="text-xs font-medium text-gray-700 break-words first-letter:capitalize">
                                        {{ tags.0.id_etiqueta }}
                                    </span>
                                </div>
                                <div class="flex flex-col items-start text-center w-[100px]">
                                    <span class="text-xs font-medium text-gray-700 break-words first-letter:capitalize">
                                        {{ tags.1.id_etiqueta }}
                                    </span>
                                </div>
                                <div class="flex flex-col items-start text-right w-[100px]">
                                    <span class="text-xs font-medium text-gray-700 break-words first-letter:capitalize">
                                        {{ tags.2.id_etiqueta }}
                                    </span>
                                </div>
                            </div>
                        </section>
                    </article>
                </article>
                <article class="flex flex-col justify-center gap-2 items-end actions-{{word}}">
                    <section class="flex justify-end items-center gap-2 btns-container">
                        <button type="button" onclick="checkSendRating('{{word}}')"
                            class="ct-btn-check-{{word}} text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 active:border-blue-500 border-blue-800  transition-all rounded-xl bg-blue-500 text-white w-fit disabled:bg-amber-600">
                            ¿Guardar calificación?
                        </button>
                        <button type="button" onclick="sendRating('{{word}}')"
                            class="ct-btn-submit-{{word}} text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 active:border-green-500 border-green-800  transition-all rounded-xl bg-green-500 text-white w-fit disabled:bg-amber-600 hidden">
                            Estoy seguro
                        </button>
                        <button type="button" onclick="cancelSendRating('{{word}}')"
                            class="ct-btn-cancel-{{word}} text-lg tracking-wider font-medium p-2 px-4 border-b-2 active:border-b-0 active:border-t-2 active:border-orange-500 border-orange-800  transition-all rounded-xl bg-orange-500 text-white w-fit disabled:bg-amber-600 hidden">
                            Cancelar
                        </button>
                    </section>
                </article>
            </form>
            {% endfor %}
            {% endif %}
        </article>
    </article>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/created-scale.js' %}"></script>
<script src="{% static 'js/actions-form.js' %}"></script>
{% endblock %}