{% extends 'tecnicas/layouts/base.html' %}

{% block title %}Detalles Sesion{% endblock %}

{% block content %}
<article class="w-full flex flex-col justify-center items-center bg-gray-600 mt-10 mb-10">
    <article class="flex flex-col gap-8 bg-gray-400 p-10 rounded-2xl">
        <header class="text-center flex-row w-full flex justify-around items-center flex-wrap gap-10">
            <h1 class="text-white rounded-xl font-bold text-2xl bg-gray-600 p-4 flex-1">
                Detalles de la sesión
            </h1>
        </header>
    </article>
</article>
{% endblock %}