{% extends 'tecnicas/layouts/base.html' %}

{% block title %}Panel Principal Tester{% endblock %}

{% block content %}
<article class="cts-container-main">
    <article class="cts-wrap-content text-black">
        <header class="text-center flex flex-row max-sm:flex-col gap-8 items-center w-full">
            <div class="bg-surface-card p-4 text-black shadow-lg rounded-xl flex-1">
                <h1 class="font-bold text-2xl">
                    Lista de Sesiones en las
                    que se ha participado
                </h1>
            </div>
            <div class="flex-1 flex justify-end items-center">
                <a href="{% url 'cata_system:catador_main' %}" class="w-fit">
                    <button class="cts-btn-general cts-btn-secondary btn-push">
                        Regresar Panel principal
                    </button>
                </a>
            </div>
        </header>

        {% if error %}
        {% include "../components/error-message.html" with message=error %}
        {% endif %}
        {% if message %}
        {% include "../components/error-message.html" with message=message %}
        {% endif %}

        <div class="space-y-4">
            <h3 class="text-xl font-semibold">Sesiones en las que ha participado</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for session in sessions %}
                {% include "../components/item_session_tester.html" with session=session %}
                {% empty %}
                <div class="col-span-full text-center text-gray-500">
                    No hay sesiones registradas.
                </div>
                {% endfor %}
            </div>

            <section class="flex justify-center items-center gap-2">
                <div class="join space-x-2">
                    {% if page != 1 %}
                    <a href="{% url 'cata_system:catador_list_sessions' num_page=page|add:-1 %}" class="w-fit">
                        <button class="join-item btn bg-btn-secondary py-1 text-2xl">
                            ⏮️
                        </button>
                    </a>
                    {% endif %}
                    <button class="join-item btn bg-btn-secondary">Page {{ page }}</button>
                    {% if not last_page %}
                    <a href="{% url 'cata_system:catador_list_sessions' num_page=page|add:1 %}" class="w-fit">
                        <button class="join-item btn bg-btn-secondary py-1 text-2xl">
                            ⏭️
                        </button>
                    </a>
                    {% endif %}
                </div>
            </section>
        </div>
    </article>
</article>
{% endblock %}