{% extends 'tecnicas/layouts/base_tester.html' %}
{% load static %}

{% block title %}Sesión Perfil Flash{% endblock %}

{% block content_tester %}
<header class="text-center flex-row max-sm:flex-col w-full items-stretch flex justify-around flex-wrap gap-2">
    <h1 class="rounded font-bold text-2xl bg-surface-card p-4 flex-1">
        Sesión usando <br>técnica
        <span class="uppercase">{{ session.tecnica.tipo_tecnica }}</span>
        <span class="hidden code-sesion">{{ session.codigo_sesion }}</span>
    </h1>
    <button class="cts-btn-general cts-btn-fourthy btn-push" onclick="exit_sesion('form-actions')">
        Salir de la sesión
    </button>
</header>

<article class="hidden">
    <form action="{% url 'cata_system:catador_init_session' code_sesion=session.codigo_sesion %}" method="post"
        class="form-actions">
        {% csrf_token %}
        <input type="hidden" name="action" class="action-input">
    </form>
</article>

<section class="hidden">
    <input type="hidden" value="{{ session.tecnica.id }}" name="id-tecnica" class="ct-input-id-tech">
</section>

{% if error %}
{% include "components/error_message.html" with message=error %}
{% endif %}

{% if not initial_phase %}
<div role="alert" class="alert alert-info">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="h-6 w-6 shrink-0 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span class="text-lg">
        Para poder compartir tu nueva lista de palabras con los demás Catadores, debes usar el botón de
        <b>“Guardar y comprobar palabras actuales”</b>
    </span>
</div>
{% endif %}

<article class="rounded flex flex-col gap-4">
    <section class="flex items-center justify-center bg-surface-card p-2 rounded-lg">
        <p class="text-lg font-medium text-center">
            {{ session.tecnica.instrucciones }}
        </p>
    </section>
    <section class="flex items-center justify-center flex-wrap gap-4 bg-surface-card p-2 rounded-lg">
        {% if initial_phase %}
        <p class="text-xl font-bold text-center">
            Fase <span class="cts-phase-pf" data-phase="1">1</span>:
        </p>
        <p class="text-xl font-bold text-center">
            Lista inicial
        </p>
        {% else %}
        <p class="text-xl font-bold text-center">
            Fase <span class="cts-phase-pf" data-phase="2">2</span>:
        </p>
        <p class="text-xl font-bold text-center">
            Lista Final
        </p>
        {% endif %}
    </section>
</article>

<div class="error-input-word toast toast-bottom toast-center"></div>

<section class="cts-list-words space-y-4">
    <article class="flex gap-4 flex-wrap">
        <section class="bg-surface-card p-4 rounded-lg text-center space-y-4 sm:w-[300px] w-full flex-shrink-0">
            <h3 class="text-xl font-bold border-b-1">Características sensoriales</h3>

            <form action="" method="get" class="cts-form-pf-word flex gap-4 flex-col">
                <label for="{{ form.nombre_palabra.id_for_label }}" class="text-left">
                    {{ form.nombre_palabra }}
                    <small>
                        Solo letras minúsculas y la letra ñ, no poner acentos. No se permiten mayúsculas ni
                        caracteres especiales. Mínimo 3 letras
                    </small>
                </label>
                <button type="submit" class="cts-btn-general-compress cts-btn-primary btn-push w-full py-2">
                    Agregar
                </button>
            </form>
        </section>

        <section
            class="bg-surface-card p-4 rounded-lg text-center flex-1 h-[400px] min-h-[400px] max-h-[600px] flex-shrink-0 overflow-y-auto">
            <div class="flex-1 h-[400px] min-h-[400px] max-h-[600px] flex flex-col">
                <div>
                    <p class="text-xl font-bold pb-3">Lista de palabras</p>
                    <hr>
                </div>

                <ul class="cts-box-words grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 content-start overflow-y-auto mt-4 pr-1">
                {% if not words %}
                <img src="{% static 'img/icons/list.svg' %}" alt="lista de palabras" class="cts-img-list h-[300px] col-span-full mx-auto">
                {% endif %}

                {% for word in words %}
                <img src="{% static 'img/icons/list.svg' %}" alt="lista de palabras"
                    class="cts-img-list h-[300px] hidden col-span-full mx-auto">

                <li class="cts-item-words bg-gray-400 text-black rounded font-bold text-lg 
                px-4 py-3 flex flex-wrap flex-row justify-center items-center gap-3 break-words">
                    <p class="ct-word-received">{{ word.nombre_palabra }}</p>

                    <button class="px-4 border-b-2 active:border-b-0 active:border-t-2 
                    transition-all rounded-xl font-black capitalize 
                    active:border-red-500 border-red-800 bg-red-500">
                        ➖
                    </button>
                </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</section>

<article class="flex max-sm:flex-col gap-4">
    <button type="button" class="cts-btn-general-compress cts-btn-primary btn-push py-2 px-4 flex-1"
        onclick="sendWordsToSave()">
        Guardar y comprobar palabras actuales
    </button>

    <button type="button" class="cts-btn-general cts-btn-fifthy btn-push py-2 px-4 flex-1"
        onclick="setUpFormAction()">
        Finalizar la sesión
    </button>
</article>

<div role="alert" class="alert alert-warning">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <div class="flex-col">
        <span class="text-lg block">
            Si usas el botón <b>“Salir de la sesión”</b> asegúrese de guardar las palabras de lo contrario las
            palabras no se guardaran pero podrás ingresar otra vez
        </span>
        <span class="text-lg block">
            Con el botón <b>“Finalizar la sesión”</b>, se guardan las palabras, sales de la sesión y no podrás
            ingresar otra vez
        </span>
    </div>
</div>

{% if not initial_phase %}
<section class="space-y-4">
    <section class="flex items-center justify-center flex-wrap gap-4 bg-surface-card p-2 rounded-lg">
        <h3 class="text-xl font-bold text-center">
            Listas de los demás participantes
        </h3>
    </section>
    <article class="cts-content-list-words bg-surface-card flex gap-4 overflow-x-auto p-2"></article>
    <article class="flex justify-center">
        <button class="cts-btn-general cts-btn-primary btn-push" onclick="getListWordsTesters()">
            Actualizar las listas
        </button>
    </article>
</section>
<script src="{% static 'js/lists-words-testers.js' %}"></script>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/pf-make-list.js' %}"></script>
<script src="{% static 'js/actions-form.js' %}"></script>
<script src="{% static 'js/activity-monitor.js' %}"></script>
{% endblock %}