{% extends 'tecnicas/layouts/base_tester.html' %}

{% load static %}

{% block title %}Convencional{% endblock %}

{% block content_tester %}
<header class="text-center flex-row w-full items-stretch flex justify-around flex-wrap gap-2">
    <h1 class="rounded font-bold text-2xl bg-surface-card p-4 flex-1">
        Sesión usando <br>técnica
        <span class="uppercase">{{ session.tecnica.tipo_tecnica }}</span>
        <span class="hidden code-sesion">{{ session.codigo_sesion }}</span>
    </h1>
    <button class="cts-btn-general cts-btn-fourthy btn-push" onclick="exit_sesion('form-actions')">
        Salir de la sesión
    </button>
</header>

<article class="hidden">
    <form action="{% url 'cata_system:catador_init_session' code_sesion=session.codigo_sesion %}" method="post"
        class="form-actions">
        {% csrf_token %}
        <input type="hidden" name="action" class="action-input">
    </form>
</article>

<section class="hidden">
    <input type="hidden" value="{{ session.tecnica.id }}" name="id-tecnica" class="ct-input-id-tech">
</section>

{% if error %}
{% include "../components/error_message.html" with message=error %}
{% endif %}

<section class="bg-surface-card p-2 rounded-lg">
    <p class="text-lg font-medium text-center">
        {{ session.tecnica.instrucciones }}
    </p>
    <p class="text-xl font-bold text-center">
        Agrupación de productos
    </p>
    <p class="text-lg font-bold text-center">
        Repetición única
    </p>
</section>

<form action="" id="form-word" method="post" class="flex items-center gap-2 hidden">
    <label for="{{ form_word.nombre_palabra.id_for_label }}">
        {{ form_word.nombre_palabra }}
    </label>
    <button type="submit" class="cts-btn-general-compress cts-btn-primary btn-push px-2">➕</button>
</form>

<article class="container-rating-word p-2 py-6 space-y-6 bg-surface-card rounded">
    <!-- 
    Definir toddos los productos 
    -->
    <h2 class="text-xl font-bold">Productos en la sesión</h2>
    <div id="items" class="original-products flex gap-4 flex-wrap justify-center bg-surface-sweet p-2 rounded"
        data-original-products="original">
        {% for product in products %}
        <div class="draggable bg-cts-secondary text-black font-bold px-4 py-2 rounded cursor-grab" draggable="true"
            data-id-product="{{ product.id }}" data-code="{{ product.codigoProducto }}">
            {{ product.codigoProducto }}
        </div>
        {% endfor %}
    </div>

    <section class="space-y-4">
        <!--
        Espacio para crear grupos
        -->

        <h2 class="text-xl font-bold">Puedes crear los grupos aquí</h2>

        <div id="containers" class="flex gap-4 overflow-x-auto py-4 px-2">
            {% if grups_products %}
            {% for group in grups_products %}
            <section class="w-fit space-y-4 border rounded p-2 bg-surface-ligt">
                <article
                    class="dropzone w-64 min-h-16 bg-surface-sweet rounded p-2 flex items-center justify-center flex-wrap gap-2">
                    {% for product in group.productos.all %}
                    <div class="draggable bg-cts-secondary text-black font-bold px-4 py-2 rounded cursor-grab"
                        draggable="true" data-id-product="{{ product.id }}" data-code="{{ product.codigoProducto }}">
                        {{ product.codigoProducto }}
                    </div>
                    {% endfor %}
                </article>

                <form action="" id="form-word" method="post" class="flex items-center gap-2">
                    <label for="{{ form_word.nombre_palabra.id_for_label }}">
                        {{ form_word.nombre_palabra }}
                    </label>
                    <button type="submit" class="cts-btn-general-compress cts-btn-primary btn-push px-2">➕</button>
                </form>

                <article
                    class="words-container w-64 min-h-16 bg-surface-sweet rounded p-2 flex items-center justify-center flex-wrap gap-2">
                    {% for word in group.palabras.all %}
                    <div
                        class="cts-item-words bg-surface-card text-black rounded font-bold text-lg p-1 flex flex-wrap flex-row flex-1 min-w-fit justify-center items-center gap-3">
                        <span class="item-word">{{ word.nombre_palabra }}</span>
                        <button data-word="{{ word.nombre_palabra }}"
                            class="cts-remove-word cts-btn-general-compress px-2 cts-btn-fourthy">
                            ➖
                        </button>
                    </div>
                    {% endfor %}

                </article>

                <article class="cts-container-question flex items-center justify-around gap-2">
                    <button class="cts-question cts-btn-general-compress flex-1 cts-btn-fifthy btn-push">
                        ¿Remover este grupo?
                    </button>
                    <button class="cts-remove cts-btn-general-compress flex-1 cts-btn-primary btn-push hidden">
                        Remover
                    </button>
                    <button class="cts-no-remove cts-btn-general-compress flex-1 cts-btn-fourthy btn-push hidden">
                        Conservar
                    </button>
                </article>
            </section>
            {% endfor %}

            {% else %}
            <section class="w-fit space-y-4 border rounded p-2 bg-surface-ligt">
                <article
                    class="dropzone w-64 min-h-16 bg-surface-sweet rounded p-2 flex items-center justify-center flex-wrap gap-2">
                    <p class="text-products text-center text-lg font-medium">
                        Agrupación de productos
                    </p>
                </article>

                <form action="" id="form-word" method="post" class="flex items-center gap-2">
                    <label for="{{ form_word.nombre_palabra.id_for_label }}">
                        {{ form_word.nombre_palabra }}
                    </label>
                    <button type="submit" class="cts-btn-general-compress cts-btn-primary btn-push px-2">➕</button>
                </form>

                <article
                    class="words-container w-64 min-h-16 bg-surface-sweet rounded p-2 flex items-center justify-center flex-wrap gap-2">
                    <p class="text-words text-center text-lg font-medium">
                        Lista de atributos
                    </p>
                </article>

                <article class="cts-container-question flex items-center justify-around gap-2">
                    <button class="cts-question cts-btn-general-compress flex-1 cts-btn-fifthy btn-push">
                        ¿Remover este grupo?
                    </button>
                    <button class="cts-remove cts-btn-general-compress flex-1 cts-btn-primary btn-push hidden">
                        Remover
                    </button>
                    <button class="cts-no-remove cts-btn-general-compress flex-1 cts-btn-fourthy btn-push hidden">
                        Conservar
                    </button>
                </article>
            </section>
            {% endif %}

        </div>

        <section class="flex sm:flex-row flex-col items-stretch w-full gap-4">
            <article
                class="dropzone trash-products flex-1 min-h-16 bg-cts-fourthy rounded py-4 px-2 flex flex-col items-center justify-center flex-wrap gap-2">
                <p class="text-lg text-center font-bold text-white">
                    Arrastra aquí para borrar
                </p>
                <figure class="w-10">
                    <img src="{% static 'img/icons/basura.svg' %}" alt="bote de basura" class="invert">
                </figure>
            </article>

            <article class="flex flex-1 items-center justify-center bg-surface-alter p-4 rounded border-2 border-black">
                <button class="cts-btn-general cts-btn-primary btn-push" type="button" onclick="addNewGrup()">
                    ➕ Grupo
                </button>
            </article>
        </section>

    </section>

    <section role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span class="text-lg">
            Para guardar los datos sin finalizar su sesión use el botón
            <b>"Guardar progreso"</b>
        </span>
    </section>

    <section role="alert" class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <div class="flex-col">
            <span class="text-lg block">
                Si usas el botón <b>“Salir de la sesión”</b> asegúrese de guardar el progreso de lo contrario
                perderás todo lo que no hayas guardado antes
            </span>
            <span class="text-lg block">
                Con el botón <b>“Finalizar la sesión”</b>, se guardan las palabras, sales de la sesión y no
                podrás ingresar otra vez
            </span>
        </div>
    </section>

    <section class="flex justify-end gap-4 max-sm:flex-col">
        <button id="save-progress" class="cts-btn-general cts-btn-primary btn-push">
            Guardar progreso
        </button>
        <div class="flex gap-2">
            <button id="question-save" class="cts-btn-general cts-btn-fifthy btn-push flex-1">
                ¿Finalizar sesión?
            </button>
            <button id="finish-session" class="cts-btn-general cts-btn-primary btn-push hidden flex-1">
                Finalizar
            </button>
            <button id="cancel-save" class="cts-btn-general cts-btn-fourthy btn-push hidden flex-1">
                Cancelar
            </button>
        </div>
        <span id="loading-data-save" class="loading loading-spinner loading-xl text-accent hidden"></span>
    </section>
</article>

{% include "../components/toast_container.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/actions-form.js' %}"></script>
<script src="{% static 'js/test-sort.js' %}"></script>
<script src="{% static 'js/activity-monitor.js' %}"></script>
{% endblock %}