{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}

  <title>{% block title %}{% endblock %}</title>

  {% block extra_css %}{% endblock %}

  {% block meta %}{% endblock %}
</head>

<body class="{% block body_class %}h-screen overflow-x-scroll bg-surface-general{% endblock %}">
  {% block navbar %}{% endblock %}

  <main class="w-full flex-grow">
    {% block content %}{% endblock %}
  </main>

  {% block footer %}{% endblock %}

  {% block extra_js %}{% endblock %}
</body>

</html>