{% extends 'analist/base_analist.html' %}
{% load static %}

{% block title %}Detalles Sesión{% endblock %}

{% block content_analist %}
<article class="cts-container-panel max-w-4xl text-black">
    <header class="text-center flex-row max-sm:flex-col w-full flex justify-around items-center flex-wrap gap-10">
        <h1 class="text-black rounded-xl font-bold text-2xl bg-surface-card shadow-lg p-4 flex-1">
            Detalles de la sesión
        </h1>
        <a href="{% url 'cata_system:panel_sesiones' page=1 %}">
            <button class="cts-btn-general cts-btn-fourthy btn-push">
                Volver a las Sesiones
            </button>
        </a>
    </header>

    {% if message %}
    {% include "components/error_message.html" with message=message %}
    {% endif %}
    {% if error %}
    {% include "components/error_message.html" with message=error %}
    {% endif %}

    <h2 class="text-black font-bold text-2xl border-b-2">
        Información general
    </h2>
    <article class="text-black rounded-xl grid grid-cols-2 gap-3 max-sm:gap-1  text-xl max-sm:text-base">
        <section
            class="bg-surface-card max-sm:col-span-2 flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Código:
            </p>
            <p class="font-sans">
                {{ session.session_code }}
            <p>
        </section>

        <section class="bg-surface-card flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Nombre:
            </p>
            <p class="antialiased">
                {{ session.session_name }}
            <p>
        </section>

        <section class="bg-surface-card flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Estado:
            </p>
            <p class="font-sans text-lg max-sm:text-base font-normal">
                {{ session.session_status }}
            <p>
        </section>

        <section class="bg-surface-card flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Técnica:
            </p>
            <p class="font-sans text-lg max-sm:text-base font-normal uppercase">
                {{ use_technique }}
            </p>
        </section>

        <section class="bg-surface-card col-span-2 flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Fecha creación:
            </p>
            <p class="font-sans font-normal uppercase">
                {{ session.session_date }}
            <p>
        </section>

        <section class="col-span-2 bg-surface-card flex flex-wrap items-center justify-center gap-x-2 p-4 rounded-2xl">
            <p class="font-bold">
                Instrucciones:
            </p>
            <p class="font-sans text-xl max-sm:text-base font-normal">
                {{ session.session_instructions }}
            <p>
        </section>

        {% block more_details %}
        {% endblock %}
    </article>

    {% block extra_sections %}
    {% endblock %}

    <h2 class="text-black font-bold text-2xl border-b-2">
        Acciones disponibles
    </h2>
    <article class="flex flex-wrap gap-10 max-sm:gap-2">
        {% block available_actions %}
        {% endblock %}
        <button
            class="flex-1 uppercase text-lg cts-btn-general cts-btn-fourthy btn-push flex flex-col justify-center items-center gap-2"
            onclick="confirm_delete_dialog.showModal()">
            borrar
            <figure class="w-10">
                <img src="{% static 'img/icons/basura.svg' %}" alt="bote de basura" class="invert">
            </figure>
        </button>
    </article>

    <dialog id="confirm_delete_dialog" class="modal">
        <div class="modal-box bg-surface-card space-y-6 max-w-3xl">
            <h3 class="text-4xl text-black text-center">
                ¡¡¡Cuidado!!!
            </h3>
            <p class="text-2xl text-black text-center">
                Esta acción no es reversible, si la continua también borrara todos los datos recopilados
                relacionados a esta sesión y no podrá volver a recuperarlos
            </p>
            <section class="text-black font-bold text-xl space-y-4">
                <p class="text-center">
                    ¿Estás seguro de continuar?
                </p>
                <div class="flex max-sm:flex-col gap-4 justify-center">
                    <button class="cts-btn-general cts-btn-primary btn-push" onclick="deleteSession()">
                        Estoy seguro
                    </button>
                    <form method="dialog">
                        <button class="cts-btn-general cts-btn-fourthy w-full btn-push">
                            No, cancelar
                        </button>
                    </form>
                </div>
            </section>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <h2 class="text-black font-bold text-2xl border-b-2">
        Datos obtenidos
    </h2>
    {% block data_obtained %}
    {% endblock %}

    <form action="" method="post" class="form-action-session hidden">
        <input type="hidden" name="action" class="action-option">
        {% csrf_token %}
    </form>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/details-session.js' %}"></script>

{% block details_js %}
{% endblock %}

{% endblock %}