{% extends 'layouts/details_layout.html' %}
{% load static %}

{% block more_details %}
{% include "components/details_fields/basic_field.html" with field_name="Estilo:" field_value=technique.words_style value_class="capitalize" %}
{% include "components/details_fields/basic_field.html" with field_name="Cantidad de catadores:" field_value=technique.max_catadores %}
{% endblock %}

{% block extra_sections %}
{% include "components/details_fields/list_words.html" with palabras=palabras name_vocabulary=vocabulary.name %}
{% endblock %}

{% block available_actions %}
{% include "components/details_fields/actions_rep.html" with end_collection=fin_repeticiones code_session=session.session_code end_message="Se ha realizado la recolección de datos" %}
{% endblock %}

{% block data_obtained %}
<article class="bg-surface-card p-4 max-sm:px-2 text-black rounded">
    {% if existen_calificaciones %}
        <h2 class="text-xl font-bold mb-4">Tabla de datos</h2>
        {% include "components/tables/table_ideal.html" with ratings=ratings palabras=palabras session=session %}
    {% else %}
        {% include "components/error_message.html" with message='Sin calificaciones que mostrar aún' %}
    {% endif %}
</article>
{% endblock %}
